In [3]:
import camelot

# Specify the path to your PDF file
pdf_path = r"C:\Users\Nisha kadian\Documents\pyhton Netz\advanced python\SIW Issue 416 28_04_2000 1.pdf"

# Extract tables from the PDF
tables = camelot.read_pdf(pdf_path, pages="all", flavor="stream")

# Print the number of tables found
print(f"Found {len(tables)} tables.")

# Loop through the tables and convert them to DataFrames
for i, table in enumerate(tables):
    print(f"Table {i + 1}:")
    df = table.df
    print(df)
    # Save each table as a CSV (optional)
    df.to_csv(f"table_{i + 1}.csv", index=False)

Found 44 tables.
Table 1:
                                             0          1  \
0                                Issue No. 416
1                                   Highlights
2                                         VLCC
3                                               Capesize:
4       In  the  AG/Europe  market  rates  for
5          270,000t cargoes  moved  up  by  W3
6           to  W83. \nULCC \nrates \nin \nthe
7            AG/USG market rose to W75....p.2.
8                                      Suezmax
9              In the WAF/USAC market a steady
10         stream of enquiry helped push rates
11        up \nto  W122.5. \nIn \nthe  Med/Med
12            market rates rose to W138…….p.2.
13                                     Aframax
14       In  the  UKC/UKC  market  rates  fell
15       by  W15 \nto  W140.  Rates \nin \nthe
16        AG/East  market \nfell  by  W10 \nto
17                     W155………………………......p.2.
18                             Products Market
19       Activity  was \nsubdued \nthis  week.
20       The  market \nfor  MRs \nin \nthe  AG
21         softened slightly but the LR market
22                  remains firm……………..…….p.3.
23                             Capesize Market
24     Rates \nhave \nfallen \nin \nboth \nthe
25        Atlantic and Pacific markets yet are
26        expected \nto \nrise \nby  mid-June.
27          R.Bay/Rott falls to $9.35/t……p..4.
28                              Panamax Market
29
30       In the Atlantic rates   are improving
31  bar  US  Gulf.  In  Pacific  there  is  an
32       over  supply  of  tonnage.  US  Gulf/  Capesize:
33            Japan at $22.50/t……….....….p4/5.
34                             Handymax Market
35     Atlantic  remained  level  whilst \nthe
36    Pacific  softened  slightly.  Far  East/
37                Cont \nfalls \nslightly \nto
38                    $9,750/day…….…………….…p.5.
39                                S & P Market
40        The \nsale \nof \ntwo  mid-seventies
41    tankers \nbucks \nthe \ntrend  of \nthis
42       tonnage  being  sold  for  demolition
43                       only……………………………..p.i.
44                                 Newbuilding
45       The  market  remains  lacklustre  due
46        to the lack  of appetite being shown
47        by \nshipowners \nand \nshipbuilders
48                      alike………………………….. p10.
49                                  Demolition
50      A  weaker  local  steel  plate  market
51           and \nthe \napproaching \nmonsoon
52      season  combine  to  test  the  morale
53           of the breaking community...…p11.

                                                    2                 3  \
0                                         28-Apr-2000
1           The Atlantic Market This Week . . . . . .
2
3                                                Soft  Panamax:  Steady
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26  Selection of ports covered by the various mark...
27
28
29           The Pacific Market This Week . . . . . .
30
31
32                                               Soft    Panamax:  Soft
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53

         4                5
0           ISSN: 1358-8028
1
2
3   Handy:           Steady
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32  Handy:             Soft
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
Table 2:
     0    1                                                  2  \
0                                     Crude Tanker Spot Market
1                     Crude Tanker Spot Earnings ($,000's/day)
2   45
3
4
5   40
6                                                  1970's VLCC
7
8                                                      Aframax
9
10  35
11
12
13  30
14
15
16  25
17
18
19  20
20
21
22  15
23
24
25  10
26
27
28   5
29
30
31
32      May  Jul\nSep\nNov\nJan\nMar\nMay\nJul\nSep\nNov\nJ...
33
34      '98  '98\n'98\n'98\n'99\n'99\n'99\n'99\n'99\n'99\n'...
35

                                                    3
0
1                             Crude Tanker Highlights
2                                          VLCC's:\n•
3   Despite the onset of the spring holiday season...
4   of Golden Week in Japan  there  was  more  tha...
5
6
7   particularly  from  Al  Bakr,  to  keep  the  ...
8
9   Rates  for 270,000t cargoes in  the AG/Europe ...
10
11  by W3 to W83. ULCC tonnage was also steadily a...
12  most  owners \nlooking \nfor  W75 \nfor  USG  ...
13
14  AG/East market enquiry was sufficient to stabi...
15                                      Suezmaxes:\n•
16
17  In the WAF/USAC market a steady stream of enqu...
18  push rates up to W122.5 and with an ever tight...
19  the  rates  may  well  continue  to  climb.  I...
20  rates  rose  by  W3  to  W138  as  Novorossiys...
21  With VLCC  availability limited  it  appears  ...
22
23  relief  for  charterers  attempting  to  co-fr...
24                                           markets.
25
26                                      Aframaxes:\n•
27  In the UKC/UKC market the week began with mini...
28
29  and  the  expectancy  of  a  burst  of  activi...
30  position  was  never  fulfilled.  This  led  r...
31  W140. Rates in  this  market may  well fall fu...
32
33  the AG/East market the holiday period took its...
34
35                                    by W10 to W155.
Table 3:
                           0               1    2        3     4       5   \
0
1                 VLCC Single                       WS 2000
2
3                 Voyage.....                  Apr      Apr  Avg.    Avg.
4                                               21       28  2000    1998
5                    320,000t   Gulf - USGulf   73       75    54  29,823
6                    270,000t   Gulf - Europe   80       83    60  25,125
7                    250,000t     Gulf - East   95       95    70  26,682
8                    270,000t  Gulf - Red Sea  100       95    68  28,404
9                    270,000t   Med - UK/Cont  100      120    79  32,560
10   VLCC Avg. Earnings 1970s                                      28,519
11  VLCC Avg. Earnings Modern                                      33,439
12  Clarkson 1970s VLCC Index                                         125

                            6        7       8                9   \
0
1   Average earnings $ per day                     VLCC Earnings
2
3                         Avg.  To Date     Apr              Apr
4                         1999     2000      21               28
5                       16,888   19,573  32,885  34,139 FIRM....
6                       12,525   13,904  27,016  28,012 FIRM....
7                       10,732   14,957  29,585   SOFTER\n28,694
8                       12,934   17,810  36,427    32,960 WEAKER
9                       20,073   27,409  41,721    53,328 FIRMER
10                      14,631   18,730  33,527  35,427 FIRM....
11                      21,666   29,872  44,679  46,669 FIRM....
12                          64       82     147    FIRM....\n155

                10
0
1
2
3   This Week ....
4
5               4%
6               4%
7              -3%
8             -10%
9              28%
10              6%
11              4%
12              6%
Table 4:
     0                                           1  \
0                       Product Tanker Spot Market
1       Product Tanker Spot Earnings ($,000's/day)
2
3   24
4
5   22
6
7                                     Dirty\nClean
8
9   20
10
11
12  18
13
14  16
15
16
17  14
18
19  12
20
21
22  10
23
24   8

                                                    2
0
1                           Product Tanker Highlights
2
3                                  Clean Products:\n•
4   Activity  was  subdued  this  week  and  this ...
5
6   slight  softening  experienced  in  the  AG  o...
7
8   market remains firm and stable  as tonnage con...
9
10  after the recent surge of activity. The MR mar...
11  also  steady  with  several  cargoes \nfixed  ...
12
13  number of fixtures were also reported to the U...
14                                 Dirty Products:\n•
15  As the Panamax market in the Caribs went into ...
16
17  lack \nof \ntonnage \nbecoming \navailable \ni...
18  prevented rates from the Continent from declin...
19
20  UKC/USAC  market  rates  fell  by  W5  to  W17...
21            UKC/UKC market also fell by W5 to W180.
22
23                             Timecharter Market:\n•
24  There are no timecharter fixtures to report th...
Table 5:
                           0                  1    2        3     4       5   \
0
1               Clean Product                          WS 2000
2
3            Single Voyage...                     Apr      Apr  Avg.    Avg.
4
5                                                  21       28  2000    1998
6                     55,000t       Gulf - Japan  195      195   178  16,893
7                     30,000t       Gulf - Japan  260      235   241  10,961
8                                   Sing - Japan  235      235   237  11,924
9                                  Caribs - USAC  265      275   209  10,906
10                    28,000t  Gulf - W.C. India  235      235   244  11,311
11                                     Med - Med  175      190   164   6,269
12                                 Med - UK/Cont  185      200   174   7,397
13                                    Med - USAC  210      210   198   8,502
14                                UK/Cont - USAC  210      215   195   8,683
15                    20,000t    UK/Cont-UK/Cont  230      235   221  16,611
16                                     Med - Med  225      230   199  11,266
17  Products Average Earnings                                         10,316
18       Clarkson Clean Index                                             89

                            6        7       8                9   \
0
1   Average earnings $ per day                     Clean Product
2
3                         Avg.  To Date     Apr  Apr\n  Earnings
4
5                         1999     2000      21               28
6                       12,140   16,182  18,403   STEADY\n18,220
7                        7,479   11,310  12,664    10,751 WEAKER
8                        8,377   12,710  12,639   STEADY\n12,540
9                       10,123   10,399  14,819  15,548 FIRM....
10                       6,858   13,573  12,925   STEADY\n12,829
11                       6,670    9,187  11,494    13,851 FIRMER
12                       6,209    6,891   8,306    FIRMER\n9,573
13                       7,658    8,224   9,368    STEADY\n9,431
14                       7,369    7,506   8,738  FIRM....\n9,037
15                      13,986   21,583  23,268  24,059 FIRM....
16                      11,026   10,503  13,403  13,985 FIRM....
17                       8,098   10,664  12,151   STEADY\n12,420
18                          70       92     105      STEADY\n107

                10
0
1
2
3
4
5   This Week ....
6              -1%
7             -15%
8              -1%
9               5%
10             -1%
11             21%
12             15%
13              1%
14              3%
15              3%
16              4%
17              2%
18              2%
Table 6:
                                 0      1      2        3   \
0
1                         VLCC Spot
2
3                Market Activity...
4                                     1998   1999  Nov '99
5                Fixtures:\nAG-West     35     28       13
6                     AG-East/Japan     60     63       64
7                        AG-Red Sea      5     10       10
8                            Others     25     29       20
9          Total Number of Fixtures    125    130      107
10                                0      0      0        0
11    Vessels due to arrive in AG *     60     29       77
12  VLCC's Spot in Gulf *       No.      7      9        9
13                              Dwt  2,281  2,846    2,859

                        4        5        6        7      8   \
0
1   Monthly Fixture Record
2
3              Average No.                              Last
4                  Dec '99  Jan '00  Feb '00  Mar '00  4 Wks
5                       31       31       24       27     43
6                       58       75       61       89     65
7                       11       12        7       18      9
8                       24       36       28       35     47
9                      124      154      120      169    164
10                       0        0        0        0      0
11                      62       57       55        5     49
12                      14       15       11        4      7
13                   4,470    5,082    3,449    1,256  2,446

                  9               10
0
1   VLCC Spot Market
2
3                     This Week ....
4
5          UP BY....             59%
6         DOWN BY...            -27%
7         DOWN BY...            -50%
8          UP BY....             34%
9         DOWN BY...             -3%
10                 0              0%
11         UP BY....            880%
12         UP BY....             75%
13         UP BY....             95%
Table 7:
     0    1                                                  2  \
0                                    Large Bulk Carrier Market
1                      Bulkcarrier Spot Earnings ($,000's/Day)
2
3   24
4
5   22
6
7
8   20                                                Capesize
9
10                                                     Panamax
11  18                                                Handymax
12
13
14  16
15
16  14
17
18  12
19
20
21  10
22
23   8
24
25   6
26
27
28   4
29
30   2
31
32      May  Jul\nSep\nNov\nJan\nMar\nMay\nJul\nSep\nNov\nJ...
33
34      '98  '98\n'98\n'98\n'99\n'99\n'99\n'99\n'99\n'99\n'...
35

                                                    3
0
1                              Bulkcarrier Highlights
2                                                   •
3                                           Capesize:
4   The  markets  in  both  the  Atlantic  and  th...
5
6   softer. Rates have dipped due to the oncoming ...
7   (Golden Week) and Greece (Easter), however, it...
8
9   rates  will  increase  by  mid-end  June  load...
10
11      has fallen this week from $9.50/t to $9.35/t.
12                                                  •
13                                           Panamax:
14
15  The  Atlantic  market  took  a  while  to  get...
16  holidays.  Rates  are  improving  slightly,  h...
17  remains  weaker  with  tonnage  continuing  to...
18
19  loading  area.  The  Pacific  has  been  activ...
20  rates  weakened  as  the  week  progressed.  T...
21
22  supply of tonnage on the prompt positions. Lev...
23  to the Atlantic have been falling as the diffe...
24          Atlantic and Pacific markets have widend.
25
26                                                  •
27                                          Handymax:
28  The  Pacific  market  has  softened  this  wee...
29  holidays are set to begin next week and theref...
30
31  expected.  The  Atlantic \nremains \nfairly \n...
32
33  ballasting to the Plate area. This week averag...
34
35  Far East/Cont have fallen from $9,800/day to $...
Table 8:
                              0                  1      2          3      4   \
0
1                Capesize Single                            $ Per Ton
2
3                  Voyage.......                       Apr        Apr   Avg.
4                                                       21         28   2000
5                Iron Ore Trades
6                        145,000   Narvik/Rotterdam   3.80       3.65   3.49
7                                 Tubarao/Rotterdam   7.25       7.10   7.02
8                                 Tubarao/Japan 17m  11.80      11.60  11.18
9                        130,000   Nouadhibou/Rott.   4.65       4.40   4.41
10                       145,000   W.Aust/Rotterdam  11.50      11.00   9.69
11                                 W.Aust/Japan 17m   6.75       6.50   5.87
12                   Coal Trades
13                       120,000  H.Rd.R.Bay/Jap16m  15.50      14.75  14.21
14                       110,000    H.Rds/Rotterdam   7.15       7.00   6.90
15                       130,000   Q'land/Rotterdam  14.75      14.10  12.68
16                                 Q'land/Japan 17m   7.50       7.30   6.82
17                                  R.Bay/Rotterdam   9.50       9.35   8.99
18     Average Capesize Earnings
19  Clarkson Capesize Spot Index

        5                           6        7       8                9   \
0
1           Average Earnings $ Per Day                   Capesize Market
2
3     Avg.                        Avg.  To Date     Apr              Apr
4     1998                        1999     2000      21               28
5
6   11,868                      13,478   24,607  27,721    26,113 SOFTER
7    9,007                       9,795   18,378  19,739    19,142 SOFTER
8   12,018                      11,119   19,497  21,405    20,901 STEADY
9    7,621                      10,950   17,380  19,350    17,764 WEAKER
10   9,826                       9,057   16,017  20,783    19,180 SOFTER
11   9,997                       9,687   17,297  21,361    19,953 SOFTER
12
13  12,211                      10,558   19,406  22,271    20,851 SOFTER
14   9,549                      10,149   18,823  20,316    19,680 SOFTER
15  10,308                       8,724   17,059  21,329    19,710 SOFTER
16  11,188                       9,750   17,582  20,262    19,234 SOFTER
17   7,808                       8,191   15,000  16,379    15,859 SOFTER
18  10,127                      10,133   18,277  20,992    19,853 SOFTER
19      58                          58      104     119       113 SOFTER

               10
0
1
2
3   This Week ...
4
5
6           -5.8%
7           -3.0%
8           -2.4%
9           -8.2%
10          -7.7%
11          -6.6%
12
13          -6.4%
14          -3.1%
15          -7.6%
16          -5.1%
17          -3.2%
18          -5.4%
19          -5.4%
Table 9:
                             0                    1      2      3      4   \
0
1                 Voyage.......                         Apr    Apr   Avg.
2                                                        21     28   2000
3                  Grain Trades
4                        55,000  USGulf/Rott(Lights)  14.25  14.00  13.61
5                                   USGulf/Rott(HSS)  12.75  12.50  12.14
6                        52,000    USGulf/Japan(HSS)  22.50  22.50  21.67
7                        52,000          Nopac/Japan  15.75  15.75  15.56
8                   Coal Trades
9                        70,000            H.Rds/ARA   7.20   7.75   6.52
10                       65,000           USGulf/ARA   8.10   8.40   7.54
11                       55,000   Roberts Bank/Japan   9.25   9.05   8.81
12                       60,000             NSW/Cont  16.00  15.85  15.03
13                                   Newcastle/Japan   9.45   9.30   9.06
14                                      R.Bay/Sp.Med  10.65  10.50  10.45
15     Average Panamax Earnings
16  Clarkson Panamax Spot Index

       5      6        7       8                  9              10
0
1    Avg.   Avg.  To Date     Apr                Apr  This Week ...
2    1998   1999     2000      21                 28
3
4   5,973  8,906   10,094  11,333      10,989 SOFTER          -3.0%
5   4,482  7,064    8,058   9,128       8,800 SOFTER          -3.6%
6   5,918  7,204    8,614   9,255       9,266 STEADY           0.1%
7   4,504  4,075    6,925   7,051       6,865 STEADY          -2.6%
8
9   6,072  7,566    9,035  11,192      12,516 FIRMER          11.8%
10  4,424  5,583    6,281   7,754  8,245 FIRM.......           6.3%
11  6,175  5,737    9,286  10,082       9,495 SOFTER          -5.8%
12  5,920  4,806    7,239   8,184       7,927 SOFTER          -3.1%

C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page1_index1.csv
Saved: extracted_tables\table_page1_index2.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page2_index1.csv
Saved: extracted_tables\table_page2_index2.csv
Saved: extracted_tables\table_page2_index3.csv
Saved: extracted_tables\table_page2_index4.csv
Saved: extracted_tables\table_page2_index5.csv
Saved: extracted_tables\table_page2_index6.csv
Saved: extracted_tables\table_page2_index7.csv
Saved: extracted_tables\table_page2_index8.csv
Saved: extracted_tables\table_page2_index9.csv
Saved: extracted_tables\table_page2_index10.csv
Saved: extracted_tables\table_page2_index11.csv
Saved: extracted_tables\table_page2_index12.csv
Saved: extracted_tables\table_page2_index13.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page3_index1.csv
Saved: extracted_tables\table_page3_index2.csv
Saved: extracted_tables\table_page3_index3.csv
Saved: extracted_tables\table_page3_index4.csv
Saved: extracted_tables\table_page3_index5.csv
Saved: extracted_tables\table_page3_index6.csv
Saved: extracted_tables\table_page3_index7.csv
Saved: extracted_tables\table_page3_index8.csv
Saved: extracted_tables\table_page3_index9.csv
Saved: extracted_tables\table_page3_index10.csv
Saved: extracted_tables\table_page3_index11.csv
Saved: extracted_tables\table_page3_index12.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page4_index1.csv
Saved: extracted_tables\table_page4_index2.csv
Saved: extracted_tables\table_page4_index3.csv
Saved: extracted_tables\table_page4_index4.csv
Saved: extracted_tables\table_page4_index5.csv
Saved: extracted_tables\table_page4_index6.csv
Saved: extracted_tables\table_page4_index7.csv
Saved: extracted_tables\table_page4_index8.csv
Saved: extracted_tables\table_page4_index9.csv
Saved: extracted_tables\table_page4_index10.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page5_index1.csv
Saved: extracted_tables\table_page5_index2.csv
Saved: extracted_tables\table_page5_index3.csv
Saved: extracted_tables\table_page5_index4.csv
Saved: extracted_tables\table_page5_index5.csv
Saved: extracted_tables\table_page5_index6.csv
Saved: extracted_tables\table_page5_index7.csv
Saved: extracted_tables\table_page5_index8.csv
Saved: extracted_tables\table_page5_index9.csv
Saved: extracted_tables\table_page5_index10.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page6_index1.csv
Saved: extracted_tables\table_page6_index2.csv
Saved: extracted_tables\table_page6_index3.csv
Saved: extracted_tables\table_page6_index4.csv
Saved: extracted_tables\table_page6_index5.csv
Saved: extracted_tables\table_page6_index6.csv
Saved: extracted_tables\table_page6_index7.csv
Saved: extracted_tables\table_page6_index8.csv
Saved: extracted_tables\table_page6_index9.csv
Saved: extracted_tables\table_page6_index10.csv
Saved: extracted_tables\table_page6_index11.csv
Saved: extracted_tables\table_page6_index12.csv
Saved: extracted_tables\table_page6_index13.csv
Saved: extracted_tables\table_page6_index14.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page7_index1.csv
Saved: extracted_tables\table_page7_index2.csv
Saved: extracted_tables\table_page7_index3.csv
Saved: extracted_tables\table_page7_index4.csv
Saved: extracted_tables\table_page7_index5.csv
Saved: extracted_tables\table_page7_index6.csv
Saved: extracted_tables\table_page7_index7.csv
Saved: extracted_tables\table_page7_index8.csv
Saved: extracted_tables\table_page7_index9.csv
Saved: extracted_tables\table_page7_index10.csv
Saved: extracted_tables\table_page7_index11.csv
Saved: extracted_tables\table_page7_index12.csv
Saved: extracted_tables\table_page7_index13.csv
Saved: extracted_tables\table_page7_index14.csv
Saved: extracted_tables\table_page7_index15.csv
Saved: extracted_tables\table_page7_index16.csv
Saved: extracted_tables\table_page7_index17.csv
Saved: extracted_tables\table_page7_index18.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page8_index1.csv
Saved: extracted_tables\table_page8_index2.csv
Saved: extracted_tables\table_page8_index3.csv
Saved: extracted_tables\table_page8_index4.csv
Saved: extracted_tables\table_page8_index5.csv
Saved: extracted_tables\table_page8_index6.csv
Saved: extracted_tables\table_page8_index7.csv
Saved: extracted_tables\table_page8_index8.csv
Saved: extracted_tables\table_page8_index9.csv
Saved: extracted_tables\table_page8_index10.csv
Saved: extracted_tables\table_page8_index11.csv
Saved: extracted_tables\table_page8_index12.csv
Saved: extracted_tables\table_page8_index13.csv
Saved: extracted_tables\table_page8_index14.csv
Saved: extracted_tables\table_page8_index15.csv
Saved: extracted_tables\table_page8_index16.csv
Saved: extracted_tables\table_page8_index17.csv
Saved: extracted_tables\table_page8_index18.csv
Saved: extracted_tables\table_page8_index19.csv
Saved: extracted_tables\table_page8_index20.csv
Saved: extracted_tables\table_page8_index21.csv
Saved: extracted_tables\table_page8_index22.csv
Saved: extracted_tables\table_page8_index23.csv
Saved: extracted_tables\table_page8_index24.csv
Saved: extracted_tables\table_page8_index25.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page9_index1.csv
Saved: extracted_tables\table_page10_index1.csv
Saved: extracted_tables\table_page10_index2.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page11_index1.csv
Saved: extracted_tables\table_page11_index2.csv
Saved: extracted_tables\table_page11_index3.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page12_index1.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page13_index1.csv
Saved: extracted_tables\table_page13_index2.csv
Saved: extracted_tables\table_page13_index3.csv
Saved: extracted_tables\table_page13_index4.csv
Saved: extracted_tables\table_page13_index5.csv
Saved: extracted_tables\table_page13_index6.csv
Saved: extracted_tables\table_page13_index7.csv
Saved: extracted_tables\table_page13_index8.csv
Saved: extracted_tables\table_page13_index9.csv
Saved: extracted_tables\table_page13_index10.csv
Saved: extracted_tables\table_page13_index11.csv
Saved: extracted_tables\table_page13_index12.csv
Saved: extracted_tables\table_page13_index13.csv
Saved: extracted_tables\table_page13_index14.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page14_index1.csv
Saved: extracted_tables\table_page14_index2.csv
Saved: extracted_tables\table_page14_index3.csv
Saved: extracted_tables\table_page14_index4.csv
Saved: extracted_tables\table_page14_index5.csv
Saved: extracted_tables\table_page14_index6.csv
Saved: extracted_tables\table_page14_index7.csv
Saved: extracted_tables\table_page14_index8.csv
Saved: extracted_tables\table_page14_index9.csv
Saved: extracted_tables\table_page14_index10.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page15_index1.csv
Saved: extracted_tables\table_page15_index2.csv
Saved: extracted_tables\table_page15_index3.csv
Saved: extracted_tables\table_page15_index4.csv
Saved: extracted_tables\table_page15_index5.csv
Saved: extracted_tables\table_page15_index6.csv
Saved: extracted_tables\table_page15_index7.csv
Saved: extracted_tables\table_page15_index8.csv
Saved: extracted_tables\table_page15_index9.csv
Saved: extracted_tables\table_page15_index10.csv
Saved: extracted_tables\table_page15_index11.csv
Saved: extracted_tables\table_page15_index12.csv
Saved: extracted_tables\table_page15_index13.csv
Saved: extracted_tables\table_page15_index14.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page16_index1.csv
Saved: extracted_tables\table_page16_index2.csv
Saved: extracted_tables\table_page16_index3.csv
Saved: extracted_tables\table_page16_index4.csv
Saved: extracted_tables\table_page16_index5.csv
Saved: extracted_tables\table_page16_index6.csv
Saved: extracted_tables\table_page16_index7.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page17_index1.csv
Saved: extracted_tables\table_page17_index2.csv
Saved: extracted_tables\table_page17_index3.csv
Saved: extracted_tables\table_page17_index4.csv
Saved: extracted_tables\table_page17_index5.csv
Saved: extracted_tables\table_page17_index6.csv
Saved: extracted_tables\table_page17_index7.csv
Saved: extracted_tables\table_page17_index8.csv
Saved: extracted_tables\table_page17_index9.csv
Saved: extracted_tables\table_page17_index10.csv
Saved: extracted_tables\table_page17_index11.csv
Saved: extracted_tables\table_page17_index12.csv
Saved: extracted_tables\table_page17_index13.csv
Saved: extracted_tables\table_page17_index14.csv
Saved: extracted_tables\table_page17_index15.csv
Saved: extracted_tables\table_page17_index16.csv
Saved: extracted_tables\table_page17_index17.csv
Saved: extracted_tables\table_page17_index18.csv
Saved: extracted_tables\table_page17_index19.csv
Saved: extracted_tables\table_page17_index20.csv
Saved: extracted_tables\table_page17_index21.csv
Saved: extracted_tables\table_page17_index22.csv
Saved: extracted_tables\table_page17_index23.csv
Saved: extracted_tables\table_page17_index24.csv
Saved: extracted_tables\table_page17_index25.csv
Saved: extracted_tables\table_page17_index26.csv
Saved: extracted_tables\table_page17_index27.csv
Saved: extracted_tables\table_page17_index28.csv
Saved: extracted_tables\table_page17_index29.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page18_index1.csv
Saved: extracted_tables\table_page18_index2.csv
Saved: extracted_tables\table_page18_index3.csv
Saved: extracted_tables\table_page18_index4.csv
Saved: extracted_tables\table_page18_index5.csv
Saved: extracted_tables\table_page18_index6.csv
Saved: extracted_tables\table_page18_index7.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_28836\4105826591.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page19_index1.csv
Saved: extracted_tables\table_page19_index2.csv
Saved: extracted_tables\table_page19_index3.csv
Saved: extracted_tables\table_page19_index4.csv
Saved: extracted_tables\table_page19_index5.csv
Saved: extracted_tables\table_page19_index6.csv
Saved: extracted_tables\table_page19_index7.csv
Saved: extracted_tables\table_page19_index8.csv
Saved: extracted_tables\table_page19_index9.csv
Page 1, Table 1:
                                                  0   1   2   3   4   5   6   \
0  The Atlantic Market This Week . . . . . . Cape... NaN NaN NaN NaN NaN NaN
1                                                    NaN NaN NaN NaN NaN NaN
2                                                    NaN NaN NaN NaN NaN NaN
3                                                    NaN NaN NaN NaN NaN NaN
4                                                    NaN NaN NaN NaN NaN NaN
5                                                    NaN NaN NaN NaN NaN NaN
6                                                    NaN NaN NaN NaN NaN NaN
7                                                    NaN NaN NaN NaN NaN NaN
8                                                    NaN NaN NaN NaN NaN NaN
9                                                    NaN NaN NaN NaN NaN NaN

   7   8   9   10  11  12  13  14  15  16  17  18  19
0 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
3 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
4 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
5 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
6 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
7 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
8 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
9 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

Page 1, Table 2:
                                          0   1   2   3   4   5   6   7   8   \
0   The Pacific Market This Week . . . . . . NaN NaN NaN NaN NaN NaN NaN NaN
1   Capesize: Soft Panamax: Soft Handy: Soft NaN NaN NaN NaN NaN NaN NaN NaN
2                                            NaN NaN NaN NaN NaN NaN NaN NaN
3                                            NaN NaN NaN NaN NaN NaN NaN NaN
4                                            NaN NaN NaN NaN NaN NaN NaN NaN
5                                            NaN NaN NaN NaN NaN NaN NaN NaN
6                                            NaN NaN NaN NaN NaN NaN NaN NaN
7                                            NaN NaN NaN NaN NaN NaN NaN NaN
8                                            NaN NaN NaN NaN NaN NaN NaN NaN
9                                            NaN NaN NaN NaN NaN NaN NaN NaN
10                                           NaN NaN NaN NaN NaN NaN NaN NaN
11                                           NaN NaN NaN NaN NaN NaN NaN NaN
12                                           NaN NaN NaN NaN NaN NaN NaN NaN
13                                           NaN NaN NaN NaN NaN NaN NaN NaN
14                                           NaN NaN NaN NaN NaN NaN NaN NaN

    9   10  11  12  13  14  15  16  17  18  19
0  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
1  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
3  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
4  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
5  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
6  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
7  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
8  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
9  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
10 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
11 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
12 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
13 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
14 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

Page 2, Table 1:
                                                   0     1  \
0  Crude Tanker Spot Earnings ($000's/day) Crude ...  None
1  45 40 1970's VLCC Aframax 35 30 25 20 15 10 5 ...     r
2                                                     None

                                                   2
0                                               None
1  • VLCC's: Despite the onset of the spring holi...
2                                               None

Page 2, Table 2:
   0   1   2   3   4   5   6   7              8       9   10  11
0 NaN NaN NaN NaN NaN NaN NaN NaN                        NaN NaN
1 NaN NaN NaN NaN NaN NaN NaN NaN  1970's Aframa  VLCC x NaN NaN
2 NaN NaN NaN NaN NaN NaN NaN NaN                        NaN NaN
3 NaN NaN NaN NaN NaN NaN NaN NaN                        NaN NaN
4 NaN NaN NaN NaN NaN NaN NaN NaN                        NaN NaN
5 NaN NaN NaN NaN NaN NaN NaN NaN                        NaN NaN
6 NaN NaN NaN NaN NaN NaN NaN NaN                        NaN NaN
7 NaN NaN NaN NaN NaN NaN NaN NaN                        NaN NaN

Page 2, Table 3:
                                                   0
0                                        VLCC Single
1                                        Voyage.....
2                              320000t Gulf - USGulf
3  270000t Gulf - Europe 250000t Gulf - East 2700...
4  VLCC Avg. Earnings 1970s VLCC Avg. Earnings Mo...
5                          Clarkson 1970s VLCC Index

Page 2, Table 4:
                            0            1
0                     WS 2000         None
1               Apr Apr 21 28    Avg. 2000
2                       73 75           54
3  80 83 95 95 100 95 100 120  60 70 68 79
4
5

Page 2, Table 5:
                                                   0       1   2  \
0                         Average earnings $ per day    None NaN
1                   Avg. Avg. To Date 1998 1999 2000  Apr 21 NaN
2                                  29823 16888 19573   32885 NaN
3  25125 12525 13904 26682 10732 14957 28404 1293...   27016 NaN
4                                               None   29585 NaN
5                                               None   36427 NaN
6                                               None   41721 NaN
7                28519 14631 18730 33439 21666 29872   33527 NaN
8                                               None   44679 NaN
9                                          125 64 82     147 NaN

               3                                              4
0  VLCC Earnings                                           None
1         Apr 28                                 This Week ....
2          34139                                    FIRM.... 4%
3          28012  FIRM.... 4% SOFTER -3% WEAKER -10% FIRMER 28%
4          28694                                           None
5          32960                                           None
6          53328                                           None
7          35427                        FIRM.... 6% FIRM.... 4%
8          46669                                           None
9            155                                    FIRM.... 6%

Page 2, Table 6:
                                   0
0                     Suezmax Single
1                        Voyage.....
2  130000t Med - Med W.Africa - USAC
3           Suezmax Average Earnings
4             Clarkson Suezmax Index

Page 2, Table 7:
                 0          1
0          WS 2000       None
1    Apr Apr 21 28  Avg. 2000
2  135 138 115 123    117 113
3
4

Page 2, Table 8:
                                     0            1
0           Average earnings $ per day         None
1     Avg. Avg. To Date 1998 1999 2000       Apr 21
2  23682 17381 31007 20714 15416 25054  38533 25777
3                    22198 16398 28031        32155
4                          140 103 177          202

Page 2, Table 9:
                  0                      1
0  Suezmax Earnings                   None
1            Apr 28         This Week ....
2       39696 27953  FIRM.... 3% FIRMER 8%
3             33825            FIRM.... 5%
4               213            FIRM.... 5%

Page 2, Table 10:
                                                   0
0                                     Aframax Single
1                                        Voyage.....
2  80000t Gulf - East Med - Med Med - USAC UK/Con...
3                           Aframax Average Earnings
4                             Clarkson Aframax Index

Page 2, Table 11:
                                                   0  \
0                                            WS 2000
1                                      Apr Apr 21 28
2  165 155 150 140 143 143 155 140 145 143 135 13...
3
4

                             1
0                         None
1                    Avg. 2000
2  139 142 142 147 151 150 117
3
4

Page 2, Table 12:
                                                   0  \
0                         Average earnings $ per day
1                   Avg. Avg. To Date 1998 1999 2000
2  16251 10371 17721 15171 12611 22205 14456 1278...
3                                  15613 13304 22647
4                                          99 84 143

                                           1
0                                       None
1                                     Apr 21
2  22405 24437 22439 32870 22077 18298 23865
3                                      23770
4                                        151

Page 2, Table 13:
                                           0  \
0                           Aframax Earnings
1                                     Apr 28
2  20519 22439 22536 28045 21491 18317 23126
3                                      22353
4                                        142

                                                   1
0                                               None
1                                     This Week ....
2  WEAKER -8% WEAKER -8% STEADY 0% WEAKER -15% ST...
3                                         SOFTER -6%
4                                         SOFTER -6%

Page 3, Table 1:
                                                   0   1   2  \
0  Product Tanker Spot Earnings ($000's/day) Prod... NaN NaN
1  24 22 Dirty Clean 20 18 16 14 12 10 8 6 4 May ... NaN NaN
2                                                    NaN NaN

                                                   3
0                                               None
1  • Clean Products: Activity was subdued this we...
2                                               None

Page 3, Table 2:
    0   1   2   3   4   5   6      7   8     9     10  11  12
0  NaN NaN NaN NaN NaN NaN NaN        NaN             NaN NaN
1  NaN NaN NaN NaN NaN NaN NaN  Dirty NaN     C  lean NaN NaN
2  NaN NaN NaN NaN NaN NaN NaN   None NaN  None  None NaN NaN
3  NaN NaN NaN NaN NaN NaN NaN        NaN             NaN NaN
4  NaN NaN NaN NaN NaN NaN NaN        NaN             NaN NaN
5  NaN NaN NaN NaN NaN NaN NaN        NaN             NaN NaN
6  NaN NaN NaN NaN NaN NaN NaN        NaN             NaN NaN
7  NaN NaN NaN NaN NaN NaN NaN        NaN             NaN NaN
8  NaN NaN NaN NaN NaN NaN NaN        NaN             NaN NaN
9  NaN NaN NaN NaN NaN NaN NaN        NaN             NaN NaN
10 NaN NaN NaN NaN NaN NaN NaN        NaN             NaN NaN

Page 3, Table 3:
                                                   0
0                                      Clean Product
1                                   Single Voyage...
2                                55000t Gulf - Japan
3     30000t Gulf - Japan Sing - Japan Caribs - USAC
4  28000t Gulf - W.C. India Med - Med Med - UK/Co...
5                   20000t UK/Cont-UK/Cont Med - Med
6                          Products Average Earnings
7                               Clarkson Clean Index

Page 3, Table 4:
                                         0                    1
0                                  WS 2000                 None
1                            Apr Apr 21 28            Avg. 2000
2                                  195 195                  178
3                  260 235 235 235 265 275          241 237 209
4  235 235 175 190 185 200 210 210 210 215  244 164 174 198 195
5                          230 235 225 230              221 199
6
7

Page 3, Table 5:
                                                    0  \
0                          Average earnings $ per day
1                    Avg. Avg. To Date 1998 1999 2000
2                                   16893 12140 16182
3   10961 7479 11310 11924 8377 12710 10906 10123 ...
4                                                None
5                                                None
6   11311 6858 13573 6269 6670 9187 7397 6209 6891...
7                                                None
8                                                None
9                                                None
10                                               None
11                16611 13986 21583 11266 11026 10503
12                                               None
13                                   10316 8098 10664
14                                           89 70 92

                             1   2              3  \
0                         None NaN  Clean Product
1                       Apr 21 NaN         Apr 28
2                        18403 NaN          18220
3            12664 12639 14819 NaN          10751
4                         None NaN          12540
5                         None NaN          15548
6   12925 11494 8306 9368 8738 NaN          12829
7                         None NaN          13851
8                         None NaN           9573
9                         None NaN           9431
10                        None NaN           9037
11                 23268 13403 NaN          24059
12                        None NaN          13985
13                       12151 NaN          12420
14                         105 NaN            107

                                                    4
0                                                None
1                             Earnings This Week ....
2                                          STEADY -1%
3                  WEAKER -15% STEADY -1% FIRM.... 5%
4                                                None
5                                                None
6   STEADY -1% FIRMER 21% FIRMER 15% STEADY 1% FIR...
7                                                None
8                                                None
9                                                None
10                                               None
11                            FIRM.... 3% FIRM.... 4%
12                                               None
13                                          STEADY 2%
14                                          STEADY 2%

Page 3, Table 6:
                                       0
0                          Dirty Product
1                       Single Voyage...
2  50000t UK/Cont - USAC UK/Cont-UK/Cont

Page 3, Table 7:
                 0          1
0          WS 2000       None
1    Apr Apr 21 28  Avg. 2000
2  180 175 185 180    180 184

Page 3, Table 8:
                                     0            1
0           Average earnings $ per day         None
1     Avg. Avg. To Date 1998 1999 2000       Apr 21
2  12672 10182 15063 16303 14197 21274  15400 21958

Page 3, Table 9:
               0                        1
0  Dirty Product                     None
1         Apr 28  Earnings This Week ....
2    14783 20981    SOFTER -4% SOFTER -4%

Page 3, Table 10:
                                                   0
0                                          VLCC Spot
1                                  Market Activity..
2  Fixtures: AG-West AG-East/Japan AG-Red Sea Others
3                           Total Number of Fixtures
4                    0 Vessels due to arrive in AG *
5                      VLCC's Spot in Gulf * No. Dwt

Page 3, Table 11:
                                                   0  \
0                             Monthly Fixture Record
1  Average No. 1998 1999 Nov '99 Dec '99 Jan '00 ...
2                             35 28 60 63 5 10 25 29
3                                            125 130
4                                          0 0 60 29
5                                      7 9 2281 2846

                                                   1
0                                               None
1                                               None
2  13 31 31 24 27 64 58 75 61 89 10 11 12 7 18 20...
3                                107 124 154 120 169
4                            0 0 0 0 0 77 62 57 55 5
5              9 14 15 11 4 2859 4470 5082 3449 1256

Page 3, Table 12:
                  0                                                  1
0  VLCC Spot Market                                               None
1        Last 4 Wks                                     This Week ....
2        43 65 9 47  UP BY.... 59% DOWN BY... -27% DOWN BY... -50% ...
3               164                                     DOWN BY... -3%
4              0 49                                0 0% UP BY.... 880%
5                 7                        UP BY.... 75% UP BY.... 95%
6              2446                                               None

Page 4, Table 1:
                                                   0  \
0  24 22 20 Capesize Panamax 18 Handymax 16 14 12...

                                                   1
0  •••• Capesize: The markets in both the Atlanti...

Page 4, Table 2:
    0   1   2   3          4         5   6   7   8   9   10
0  NaN NaN NaN NaN                      NaN NaN NaN NaN NaN
1  NaN NaN NaN NaN                      NaN NaN NaN NaN NaN
2  NaN NaN NaN NaN                      NaN NaN NaN NaN NaN
3  NaN NaN NaN NaN  Cape Pana  size max NaN NaN NaN NaN NaN
4  NaN NaN NaN NaN       Hand      ymax NaN NaN NaN NaN NaN
5  NaN NaN NaN NaN                      NaN NaN NaN NaN NaN
6  NaN NaN NaN NaN                      NaN NaN NaN NaN NaN
7  NaN NaN NaN NaN                      NaN NaN NaN NaN NaN
8  NaN NaN NaN NaN                      NaN NaN NaN NaN NaN
9  NaN NaN NaN NaN                      NaN NaN NaN NaN NaN
10 NaN NaN NaN NaN                      NaN NaN NaN NaN NaN
11 NaN NaN NaN NaN                      NaN NaN NaN NaN NaN

Page 4, Table 3:
                                                   0
0                                    Capesize Single
1                                      Voyage.......
2  Iron Ore Trades 145000 Narvik/Rotterdam Tubara...
3  Coal Trades 120000 H.Rd.R.Bay/Jap16m 110000 H....
4                          Average Capesize Earnings
5                       Clarkson Capesize Spot Index

Page 4, Table 4:
                                     0  \
0                      Capesize Market
1                               Apr 28
2  26113 19142 20901 17764 19180 19953
3        20851 19680 19710 19234 15859
4                                19853
5                                  113

                                           1  \
0                                       None
1                              This Week ...
2  SOFTER SOFTER STEADY WEAKER SOFTER SOFTER
3         SOFTER SOFTER SOFTER SOFTER SOFTER
4                                     SOFTER
5                                     SOFTER

                                     2
0                                 None
1                                 None
2  -5.8% -3.0% -2.4% -8.2% -7.7% -6.6%
3        -6.4% -3.1% -7.6% -5.1% -3.2%
4                                -5.4%
5                                -5.4%

Page 4, Table 5:
                                                   0
0                                      Apr Apr 21 28
1  3.80 3.65 7.25 7.10 11.80 11.60 4.65 4.40 11.5...
2  15.50 14.75 7.15 7.00 14.75 14.10 7.50 7.30 9....
3
4

Page 4, Table 6:
                                     0
0                               Apr 21
1  27721 19739 21405 19350 20783 21361
2        22271 20316 21329 20262 16379
3                                20992
4                                  119

Page 4, Table 7:

In [4]:
import pandas as pd
from pdfplumber import open as open_pdf
import re
import os


def extract_tables_from_pdf(pdf_path):
    """
    Extracts tables from a PDF and processes them into pandas DataFrames.
    Saves each DataFrame as a CSV file.
    """
    # List to store all extracted DataFrames
    all_tables = []

    try:
        # Step 1: Open the PDF
        with open_pdf(pdf_path) as pdf:
            for page_number, page in enumerate(pdf.pages, start=1):
                # Step 2: Extract tables
                tables = page.extract_tables()

                for table_index, table in enumerate(tables):
                    # Convert table into a DataFrame
                    df = pd.DataFrame(table)

                    # Clean the DataFrame
                    df = clean_table(df)

                    # Add the table to the list of tables
                    all_tables.append((page_number, table_index + 1, df))

                    # Step 3: Save the DataFrame as CSV
                    save_table(df, page_number, table_index + 1)

    except Exception as e:
        print(f"Error extracting tables from PDF: {e}")

    return all_tables


def clean_table(df):
    """
    Cleans the extracted table DataFrame.
    - Removes rows/columns with excessive NaN values.
    - Cleans text entries by removing unnecessary spaces, commas, and newlines.
    - Tries to infer numeric types for each column.
    """
    # Drop empty rows and columns
    df.dropna(how='all', inplace=True)
    df.dropna(how='all', axis=1, inplace=True)

    # Reset index after dropping rows
    df.reset_index(drop=True, inplace=True)

    # Clean text in each cell
    df = df.replace(r'[\n\r]', ' ', regex=True).replace(r',', '', regex=True)

    # Attempt to convert columns to numeric where possible
    for col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='ignore')

    return df


def save_table(df, page_number, table_index):
    """
    Saves a DataFrame as a CSV file with a filename indicating its source page and index.
    """
    output_dir = "extracted_tables"
    os.makedirs(output_dir, exist_ok=True)
    filename = f"table_page{page_number}_index{table_index}.csv"
    file_path = os.path.join(output_dir, filename)
    df.to_csv(file_path, index=False)
    print(f"Saved: {file_path}")


# Main execution
if __name__ == "__main__":
    # Input PDF path
    pdf_path = r"C:\Users\Nisha kadian\Documents\pyhton Netz\advanced python\SIW Issue 416 28_04_2000 1.pdf"

    # Extract tables and process them
    tables = extract_tables_from_pdf(pdf_path)

    # Display summary of extracted tables
    for page_number, table_index, df in tables:
        print(f"Page {page_number}, Table {table_index}:\n{df}\n")

C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page1_index1.csv
Saved: extracted_tables\table_page1_index2.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page2_index1.csv
Saved: extracted_tables\table_page2_index2.csv
Saved: extracted_tables\table_page2_index3.csv
Saved: extracted_tables\table_page2_index4.csv
Saved: extracted_tables\table_page2_index5.csv
Saved: extracted_tables\table_page2_index6.csv
Saved: extracted_tables\table_page2_index7.csv
Saved: extracted_tables\table_page2_index8.csv
Saved: extracted_tables\table_page2_index9.csv
Saved: extracted_tables\table_page2_index10.csv
Saved: extracted_tables\table_page2_index11.csv
Saved: extracted_tables\table_page2_index12.csv
Saved: extracted_tables\table_page2_index13.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page3_index1.csv
Saved: extracted_tables\table_page3_index2.csv
Saved: extracted_tables\table_page3_index3.csv
Saved: extracted_tables\table_page3_index4.csv
Saved: extracted_tables\table_page3_index5.csv
Saved: extracted_tables\table_page3_index6.csv
Saved: extracted_tables\table_page3_index7.csv
Saved: extracted_tables\table_page3_index8.csv
Saved: extracted_tables\table_page3_index9.csv
Saved: extracted_tables\table_page3_index10.csv
Saved: extracted_tables\table_page3_index11.csv
Saved: extracted_tables\table_page3_index12.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page4_index1.csv
Saved: extracted_tables\table_page4_index2.csv
Saved: extracted_tables\table_page4_index3.csv
Saved: extracted_tables\table_page4_index4.csv
Saved: extracted_tables\table_page4_index5.csv
Saved: extracted_tables\table_page4_index6.csv
Saved: extracted_tables\table_page4_index7.csv
Saved: extracted_tables\table_page4_index8.csv
Saved: extracted_tables\table_page4_index9.csv
Saved: extracted_tables\table_page4_index10.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page5_index1.csv
Saved: extracted_tables\table_page5_index2.csv
Saved: extracted_tables\table_page5_index3.csv
Saved: extracted_tables\table_page5_index4.csv
Saved: extracted_tables\table_page5_index5.csv
Saved: extracted_tables\table_page5_index6.csv
Saved: extracted_tables\table_page5_index7.csv
Saved: extracted_tables\table_page5_index8.csv
Saved: extracted_tables\table_page5_index9.csv
Saved: extracted_tables\table_page5_index10.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page6_index1.csv
Saved: extracted_tables\table_page6_index2.csv
Saved: extracted_tables\table_page6_index3.csv
Saved: extracted_tables\table_page6_index4.csv
Saved: extracted_tables\table_page6_index5.csv
Saved: extracted_tables\table_page6_index6.csv
Saved: extracted_tables\table_page6_index7.csv
Saved: extracted_tables\table_page6_index8.csv
Saved: extracted_tables\table_page6_index9.csv
Saved: extracted_tables\table_page6_index10.csv
Saved: extracted_tables\table_page6_index11.csv
Saved: extracted_tables\table_page6_index12.csv
Saved: extracted_tables\table_page6_index13.csv
Saved: extracted_tables\table_page6_index14.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page7_index1.csv
Saved: extracted_tables\table_page7_index2.csv
Saved: extracted_tables\table_page7_index3.csv
Saved: extracted_tables\table_page7_index4.csv
Saved: extracted_tables\table_page7_index5.csv
Saved: extracted_tables\table_page7_index6.csv
Saved: extracted_tables\table_page7_index7.csv
Saved: extracted_tables\table_page7_index8.csv
Saved: extracted_tables\table_page7_index9.csv
Saved: extracted_tables\table_page7_index10.csv
Saved: extracted_tables\table_page7_index11.csv
Saved: extracted_tables\table_page7_index12.csv
Saved: extracted_tables\table_page7_index13.csv
Saved: extracted_tables\table_page7_index14.csv
Saved: extracted_tables\table_page7_index15.csv
Saved: extracted_tables\table_page7_index16.csv
Saved: extracted_tables\table_page7_index17.csv
Saved: extracted_tables\table_page7_index18.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page8_index1.csv
Saved: extracted_tables\table_page8_index2.csv
Saved: extracted_tables\table_page8_index3.csv
Saved: extracted_tables\table_page8_index4.csv
Saved: extracted_tables\table_page8_index5.csv
Saved: extracted_tables\table_page8_index6.csv
Saved: extracted_tables\table_page8_index7.csv
Saved: extracted_tables\table_page8_index8.csv
Saved: extracted_tables\table_page8_index9.csv
Saved: extracted_tables\table_page8_index10.csv
Saved: extracted_tables\table_page8_index11.csv
Saved: extracted_tables\table_page8_index12.csv
Saved: extracted_tables\table_page8_index13.csv
Saved: extracted_tables\table_page8_index14.csv
Saved: extracted_tables\table_page8_index15.csv
Saved: extracted_tables\table_page8_index16.csv
Saved: extracted_tables\table_page8_index17.csv
Saved: extracted_tables\table_page8_index18.csv
Saved: extracted_tables\table_page8_index19.csv
Saved: extracted_tables\table_page8_index20.csv
Saved: extracted_tables\table_page8_index21.csv
Saved: extracted_tables\table_page8_index22.csv
Saved: extracted_tables\table_page8_index23.csv
Saved: extracted_tables\table_page8_index24.csv
Saved: extracted_tables\table_page8_index25.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page9_index1.csv
Saved: extracted_tables\table_page10_index1.csv
Saved: extracted_tables\table_page10_index2.csv
Saved: extracted_tables\table_page11_index1.csv
Saved: extracted_tables\table_page11_index2.csv
Saved: extracted_tables\table_page11_index3.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page12_index1.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page13_index1.csv
Saved: extracted_tables\table_page13_index2.csv
Saved: extracted_tables\table_page13_index3.csv
Saved: extracted_tables\table_page13_index4.csv
Saved: extracted_tables\table_page13_index5.csv
Saved: extracted_tables\table_page13_index6.csv
Saved: extracted_tables\table_page13_index7.csv
Saved: extracted_tables\table_page13_index8.csv
Saved: extracted_tables\table_page13_index9.csv
Saved: extracted_tables\table_page13_index10.csv
Saved: extracted_tables\table_page13_index11.csv
Saved: extracted_tables\table_page13_index12.csv
Saved: extracted_tables\table_page13_index13.csv
Saved: extracted_tables\table_page13_index14.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page14_index1.csv
Saved: extracted_tables\table_page14_index2.csv
Saved: extracted_tables\table_page14_index3.csv
Saved: extracted_tables\table_page14_index4.csv
Saved: extracted_tables\table_page14_index5.csv
Saved: extracted_tables\table_page14_index6.csv
Saved: extracted_tables\table_page14_index7.csv
Saved: extracted_tables\table_page14_index8.csv
Saved: extracted_tables\table_page14_index9.csv
Saved: extracted_tables\table_page14_index10.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page15_index1.csv
Saved: extracted_tables\table_page15_index2.csv
Saved: extracted_tables\table_page15_index3.csv
Saved: extracted_tables\table_page15_index4.csv
Saved: extracted_tables\table_page15_index5.csv
Saved: extracted_tables\table_page15_index6.csv
Saved: extracted_tables\table_page15_index7.csv
Saved: extracted_tables\table_page15_index8.csv
Saved: extracted_tables\table_page15_index9.csv
Saved: extracted_tables\table_page15_index10.csv
Saved: extracted_tables\table_page15_index11.csv
Saved: extracted_tables\table_page15_index12.csv
Saved: extracted_tables\table_page15_index13.csv
Saved: extracted_tables\table_page15_index14.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page16_index1.csv
Saved: extracted_tables\table_page16_index2.csv
Saved: extracted_tables\table_page16_index3.csv
Saved: extracted_tables\table_page16_index4.csv
Saved: extracted_tables\table_page16_index5.csv
Saved: extracted_tables\table_page16_index6.csv
Saved: extracted_tables\table_page16_index7.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page17_index1.csv
Saved: extracted_tables\table_page17_index2.csv
Saved: extracted_tables\table_page17_index3.csv
Saved: extracted_tables\table_page17_index4.csv
Saved: extracted_tables\table_page17_index5.csv
Saved: extracted_tables\table_page17_index6.csv
Saved: extracted_tables\table_page17_index7.csv
Saved: extracted_tables\table_page17_index8.csv
Saved: extracted_tables\table_page17_index9.csv
Saved: extracted_tables\table_page17_index10.csv
Saved: extracted_tables\table_page17_index11.csv
Saved: extracted_tables\table_page17_index12.csv
Saved: extracted_tables\table_page17_index13.csv
Saved: extracted_tables\table_page17_index14.csv
Saved: extracted_tables\table_page17_index15.csv
Saved: extracted_tables\table_page17_index16.csv
Saved: extracted_tables\table_page17_index17.csv
Saved: extracted_tables\table_page17_index18.csv
Saved: extracted_tables\table_page17_index19.csv
Saved: extracted_tables\table_page17_index20.csv
Saved: extracted_tables\table_page17_index21.csv
Saved: extracted_tables\table_page17_index22.csv
Saved: extracted_tables\table_page17_index23.csv
Saved: extracted_tables\table_page17_index24.csv
Saved: extracted_tables\table_page17_index25.csv
Saved: extracted_tables\table_page17_index26.csv
Saved: extracted_tables\table_page17_index27.csv
Saved: extracted_tables\table_page17_index28.csv
Saved: extracted_tables\table_page17_index29.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page18_index1.csv
Saved: extracted_tables\table_page18_index2.csv
Saved: extracted_tables\table_page18_index3.csv
Saved: extracted_tables\table_page18_index4.csv
Saved: extracted_tables\table_page18_index5.csv
Saved: extracted_tables\table_page18_index6.csv
Saved: extracted_tables\table_page18_index7.csv

C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\Asha kadian\Downloads\cb\ipykernel_17592\2511829846.py:60: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

Saved: extracted_tables\table_page19_index1.csv
Saved: extracted_tables\table_page19_index2.csv
Saved: extracted_tables\table_page19_index3.csv
Saved: extracted_tables\table_page19_index4.csv
Saved: extracted_tables\table_page19_index5.csv
Saved: extracted_tables\table_page19_index6.csv
Saved: extracted_tables\table_page19_index7.csv
Saved: extracted_tables\table_page19_index8.csv
Saved: extracted_tables\table_page19_index9.csv
Page 1, Table 1:
                                                  0   1   2   3   4   5   6   \
0  The Atlantic Market This Week . . . . . . Cape... NaN NaN NaN NaN NaN NaN
1                                                    NaN NaN NaN NaN NaN NaN
2                                                    NaN NaN NaN NaN NaN NaN
3                                                    NaN NaN NaN NaN NaN NaN
4                                                    NaN NaN NaN NaN NaN NaN
5                                                    NaN NaN NaN NaN NaN NaN
6                                                    NaN NaN NaN NaN NaN NaN
7                                                    NaN NaN NaN NaN NaN NaN
8                                                    NaN NaN NaN NaN NaN NaN
9                                                    NaN NaN NaN NaN NaN NaN

   7   8   9   10  11  12  13  14  15  16  17  18  19
0 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
3 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
4 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
5 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
6 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
7 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
8 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
9 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

Page 1, Table 2:
                                          0   1   2   3   4   5   6   7   8   \
0   The Pacific Market This Week . . . . . . NaN NaN NaN NaN NaN NaN NaN NaN
1   Capesize: Soft Panamax: Soft Handy: Soft NaN NaN NaN NaN NaN NaN NaN NaN
2                                            NaN NaN NaN NaN NaN NaN NaN NaN
3                                            NaN NaN NaN NaN NaN NaN NaN NaN
4                                            NaN NaN NaN NaN NaN NaN NaN NaN
5                                            NaN NaN NaN NaN NaN NaN NaN NaN
6                                            NaN NaN NaN NaN NaN NaN NaN NaN
7                                            NaN NaN NaN NaN NaN NaN NaN NaN
8                                            NaN NaN NaN NaN NaN NaN NaN NaN
9                                            NaN NaN NaN NaN NaN NaN NaN NaN
10                                           NaN NaN NaN NaN NaN NaN NaN NaN
11                                           NaN NaN NaN NaN NaN NaN NaN NaN
12                                           NaN NaN NaN NaN NaN NaN NaN NaN
13                                           NaN NaN NaN NaN NaN NaN NaN NaN
14                                           NaN NaN NaN NaN NaN NaN NaN NaN

    9   10  11  12  13  14  15  16  17  18  19
0  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
1  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
3  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
4  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
5  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
6  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
7  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
8  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
9  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
10 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
11 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
12 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
13 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
14 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

Page 2, Table 1:
                                                   0     1  \
0  Crude Tanker Spot Earnings ($000's/day) Crude ...  None
1  45 40 1970's VLCC Aframax 35 30 25 20 15 10 5 ...     r
2                                                     None

                                                   2
0                                               None
1  • VLCC's: Despite the onset of the spring holi...
2                                               None

Page 2, Table 2:
   0   1   2   3   4   5   6   7              8       9   10  11
0 NaN NaN NaN NaN NaN NaN NaN NaN                        NaN NaN
1 NaN NaN NaN NaN NaN NaN NaN NaN  1970's Aframa  VLCC x NaN NaN
2 NaN NaN NaN NaN NaN NaN NaN NaN                        NaN NaN
3 NaN NaN NaN NaN NaN NaN NaN NaN                        NaN NaN
4 NaN NaN NaN NaN NaN NaN NaN NaN                        NaN NaN
5 NaN NaN NaN NaN NaN NaN NaN NaN                        NaN NaN
6 NaN NaN NaN NaN NaN NaN NaN NaN                        NaN NaN
7 NaN NaN NaN NaN NaN NaN NaN NaN                        NaN NaN

Page 2, Table 3:
                                                   0
0                                        VLCC Single
1                                        Voyage.....
2                              320000t Gulf - USGulf
3  270000t Gulf - Europe 250000t Gulf - East 2700...
4  VLCC Avg. Earnings 1970s VLCC Avg. Earnings Mo...
5                          Clarkson 1970s VLCC Index

Page 2, Table 4:
                            0            1
0                     WS 2000         None
1               Apr Apr 21 28    Avg. 2000
2                       73 75           54
3  80 83 95 95 100 95 100 120  60 70 68 79
4
5

Page 2, Table 5:
                                                   0       1   2  \
0                         Average earnings $ per day    None NaN
1                   Avg. Avg. To Date 1998 1999 2000  Apr 21 NaN
2                                  29823 16888 19573   32885 NaN
3  25125 12525 13904 26682 10732 14957 28404 1293...   27016 NaN
4                                               None   29585 NaN
5                                               None   36427 NaN
6                                               None   41721 NaN
7                28519 14631 18730 33439 21666 29872   33527 NaN
8                                               None   44679 NaN
9                                          125 64 82     147 NaN

               3                                              4
0  VLCC Earnings                                           None
1         Apr 28                                 This Week ....
2          34139                                    FIRM.... 4%
3          28012  FIRM.... 4% SOFTER -3% WEAKER -10% FIRMER 28%
4          28694                                           None
5          32960                                           None
6          53328                                           None
7          35427                        FIRM.... 6% FIRM.... 4%
8          46669                                           None
9            155                                    FIRM.... 6%

Page 2, Table 6:
                                   0
0                     Suezmax Single
1                        Voyage.....
2  130000t Med - Med W.Africa - USAC
3           Suezmax Average Earnings
4             Clarkson Suezmax Index

Page 2, Table 7:
                 0          1
0          WS 2000       None
1    Apr Apr 21 28  Avg. 2000
2  135 138 115 123    117 113
3
4

Page 2, Table 8:
                                     0            1
0           Average earnings $ per day         None
1     Avg. Avg. To Date 1998 1999 2000       Apr 21
2  23682 17381 31007 20714 15416 25054  38533 25777
3                    22198 16398 28031        32155
4                          140 103 177          202

Page 2, Table 9:
                  0                      1
0  Suezmax Earnings                   None
1            Apr 28         This Week ....
2       39696 27953  FIRM.... 3% FIRMER 8%
3             33825            FIRM.... 5%
4               213            FIRM.... 5%

Page 2, Table 10:
                                                   0
0                                     Aframax Single
1                                        Voyage.....
2  80000t Gulf - East Med - Med Med - USAC UK/Con...
3                           Aframax Average Earnings
4                             Clarkson Aframax Index

Page 2, Table 11:
                                                   0  \
0                                            WS 2000
1                                      Apr Apr 21 28
2  165 155 150 140 143 143 155 140 145 143 135 13...
3
4

                             1
0                         None
1                    Avg. 2000
2  139 142 142 147 151 150 117
3
4

Page 2, Table 12:
                                                   0  \
0                         Average earnings $ per day
1                   Avg. Avg. To Date 1998 1999 2000
2  16251 10371 17721 15171 12611 22205 14456 1278...
3                                  15613 13304 22647
4                                          99 84 143

                                           1
0                                       None
1                                     Apr 21
2  22405 24437 22439 32870 22077 18298 23865
3                                      23770
4                                        151

Page 2, Table 13:
                                           0  \
0                           Aframax Earnings
1                                     Apr 28
2  20519 22439 22536 28045 21491 18317 23126
3                                      22353
4                                        142

                                                   1
0                                               None
1                                     This Week ....
2  WEAKER -8% WEAKER -8% STEADY 0% WEAKER -15% ST...
3                                         SOFTER -6%
4                                         SOFTER -6%

Page 3, Table 1:
                                                   0   1   2  \
0  Product Tanker Spot Earnings ($000's/day) Prod... NaN NaN
1  24 22 Dirty Clean 20 18 16 14 12 10 8 6 4 May ... NaN NaN
2                                                    NaN NaN

                                                   3
0                                               None
1  • Clean Products: Activity was subdued this we...
2                                               None

Page 3, Table 2:
    0   1   2   3   4   5   6      7   8     9     10  11  12
0  NaN NaN NaN NaN NaN NaN NaN        NaN             NaN NaN
1  NaN NaN NaN NaN NaN NaN NaN  Dirty NaN     C  lean NaN NaN
2  NaN NaN NaN NaN NaN NaN NaN   None NaN  None  None NaN NaN
3  NaN NaN NaN NaN NaN NaN NaN        NaN             NaN NaN
4  NaN NaN NaN NaN NaN NaN NaN        NaN             NaN NaN
5  NaN NaN NaN NaN NaN NaN NaN        NaN             NaN NaN
6  NaN NaN NaN NaN NaN NaN NaN        NaN             NaN NaN
7  NaN NaN NaN NaN NaN NaN NaN        NaN             NaN NaN
8  NaN NaN NaN NaN NaN NaN NaN        NaN             NaN NaN
9  NaN NaN NaN NaN NaN NaN NaN        NaN             NaN NaN
10 NaN NaN NaN NaN NaN NaN NaN        NaN             NaN NaN

Page 3, Table 3:
                                                   0
0                                      Clean Product
1                                   Single Voyage...
2                                55000t Gulf - Japan
3     30000t Gulf - Japan Sing - Japan Caribs - USAC
4  28000t Gulf - W.C. India Med - Med Med - UK/Co...
5                   20000t UK/Cont-UK/Cont Med - Med
6                          Products Average Earnings
7                               Clarkson Clean Index

Page 3, Table 4:
                                         0                    1
0                                  WS 2000                 None
1                            Apr Apr 21 28            Avg. 2000
2                                  195 195                  178
3                  260 235 235 235 265 275          241 237 209
4  235 235 175 190 185 200 210 210 210 215  244 164 174 198 195
5                          230 235 225 230              221 199
6
7

Page 3, Table 5:
                                                    0  \
0                          Average earnings $ per day
1                    Avg. Avg. To Date 1998 1999 2000
2                                   16893 12140 16182
3   10961 7479 11310 11924 8377 12710 10906 10123 ...
4                                                None
5                                                None
6   11311 6858 13573 6269 6670 9187 7397 6209 6891...
7                                                None
8                                                None
9                                                None
10                                               None
11                16611 13986 21583 11266 11026 10503
12                                               None
13                                   10316 8098 10664
14                                           89 70 92

                             1   2              3  \
0                         None NaN  Clean Product
1                       Apr 21 NaN         Apr 28
2                        18403 NaN          18220
3            12664 12639 14819 NaN          10751
4                         None NaN          12540
5                         None NaN          15548
6   12925 11494 8306 9368 8738 NaN          12829
7                         None NaN          13851
8                         None NaN           9573
9                         None NaN           9431
10                        None NaN           9037
11                 23268 13403 NaN          24059
12                        None NaN          13985
13                       12151 NaN          12420
14                         105 NaN            107

                                                    4
0                                                None
1                             Earnings This Week ....
2                                          STEADY -1%
3                  WEAKER -15% STEADY -1% FIRM.... 5%
4                                                None
5                                                None
6   STEADY -1% FIRMER 21% FIRMER 15% STEADY 1% FIR...
7                                                None
8                                                None
9                                                None
10                                               None
11                            FIRM.... 3% FIRM.... 4%
12                                               None
13                                          STEADY 2%
14                                          STEADY 2%

Page 3, Table 6:
                                       0
0                          Dirty Product
1                       Single Voyage...
2  50000t UK/Cont - USAC UK/Cont-UK/Cont

Page 3, Table 7:
                 0          1
0          WS 2000       None
1    Apr Apr 21 28  Avg. 2000
2  180 175 185 180    180 184

Page 3, Table 8:
                                     0            1
0           Average earnings $ per day         None
1     Avg. Avg. To Date 1998 1999 2000       Apr 21
2  12672 10182 15063 16303 14197 21274  15400 21958

Page 3, Table 9:
               0                        1
0  Dirty Product                     None
1         Apr 28  Earnings This Week ....
2    14783 20981    SOFTER -4% SOFTER -4%

Page 3, Table 10:
                                                   0
0                                          VLCC Spot
1                                  Market Activity..
2  Fixtures: AG-West AG-East/Japan AG-Red Sea Others
3                           Total Number of Fixtures
4                    0 Vessels due to arrive in AG *
5                      VLCC's Spot in Gulf * No. Dwt

Page 3, Table 11:
                                                   0  \
0                             Monthly Fixture Record
1  Average No. 1998 1999 Nov '99 Dec '99 Jan '00 ...
2                             35 28 60 63 5 10 25 29
3                                            125 130
4                                          0 0 60 29
5                                      7 9 2281 2846

                                                   1
0                                               None
1                                               None
2  13 31 31 24 27 64 58 75 61 89 10 11 12 7 18 20...
3                                107 124 154 120 169
4                            0 0 0 0 0 77 62 57 55 5
5              9 14 15 11 4 2859 4470 5082 3449 1256

Page 3, Table 12:
                  0                                                  1
0  VLCC Spot Market                                               None
1        Last 4 Wks                                     This Week ....
2        43 65 9 47  UP BY.... 59% DOWN BY... -27% DOWN BY... -50% ...
3               164                                     DOWN BY... -3%
4              0 49                                0 0% UP BY.... 880%
5                 7                        UP BY.... 75% UP BY.... 95%
6              2446                                               None

Page 4, Table 1:
                                                   0  \
0  24 22 20 Capesize Panamax 18 Handymax 16 14 12...

                                                   1
0  •••• Capesize: The markets in both the Atlanti...

Page 4, Table 2:
    0   1   2   3          4         5   6   7   8   9   10
0  NaN NaN NaN NaN                      NaN NaN NaN NaN NaN
1  NaN NaN NaN NaN                      NaN NaN NaN NaN NaN
2  NaN NaN NaN NaN                      NaN NaN NaN NaN NaN
3  NaN NaN NaN NaN  Cape Pana  size max NaN NaN NaN NaN NaN
4  NaN NaN NaN NaN       Hand      ymax NaN NaN NaN NaN NaN
5  NaN NaN NaN NaN                      NaN NaN NaN NaN NaN
6  NaN NaN NaN NaN                      NaN NaN NaN NaN NaN
7  NaN NaN NaN NaN                      NaN NaN NaN NaN NaN
8  NaN NaN NaN NaN                      NaN NaN NaN NaN NaN
9  NaN NaN NaN NaN                      NaN NaN NaN NaN NaN
10 NaN NaN NaN NaN                      NaN NaN NaN NaN NaN
11 NaN NaN NaN NaN                      NaN NaN NaN NaN NaN

Page 4, Table 3:
                                                   0
0                                    Capesize Single
1                                      Voyage.......
2  Iron Ore Trades 145000 Narvik/Rotterdam Tubara...
3  Coal Trades 120000 H.Rd.R.Bay/Jap16m 110000 H....
4                          Average Capesize Earnings
5                       Clarkson Capesize Spot Index

Page 4, Table 4:
                                     0  \
0                      Capesize Market
1                               Apr 28
2  26113 19142 20901 17764 19180 19953
3        20851 19680 19710 19234 15859
4                                19853
5                                  113

                                           1  \
0                                       None
1                              This Week ...
2  SOFTER SOFTER STEADY WEAKER SOFTER SOFTER
3         SOFTER SOFTER SOFTER SOFTER SOFTER
4                                     SOFTER
5                                     SOFTER

                                     2
0                                 None
1                                 None
2  -5.8% -3.0% -2.4% -8.2% -7.7% -6.6%
3        -6.4% -3.1% -7.6% -5.1% -3.2%
4                                -5.4%
5                                -5.4%

Page 4, Table 5:
                                                   0
0                                      Apr Apr 21 28
1  3.80 3.65 7.25 7.10 11.80 11.60 4.65 4.40 11.5...
2  15.50 14.75 7.15 7.00 14.75 14.10 7.50 7.30 9....
3
4

Page 4, Table 6:
                                     0
0                               Apr 21
1  27721 19739 21405 19350 20783 21361
2        22271 20316 21329 20262 16379
3                                20992
4                                  119

Page 4, Table 7:

In [3]:
import cv2
import pytesseract
from pdf2image import convert_from_path
import pandas as pd
from pdf2image import convert_from_path

# Specify the poppler path if it's not added to your PATH
poppler_path = r"C:\Users\Nisha kadian\Downloads\Release-24.08.0-0\poppler-24.08.0\Library\bin"  # Update this with the correct path to your Poppler bin folder

# Step 1: Convert PDF to image (first page)
pdf_path = r'C:\Users\Nisha kadian\Documents\pyhton Netz\advanced python\SIW Issue 416 28_04_2000 1.pdf'  # Update with your PDF file path
images = convert_from_path(pdf_path, poppler_path=poppler_path)

# Save the first page as an image
image_path = "output_image.png"
images[0].save(image_path, "PNG")

# Continue with further processing...


# Step 1: Convert PDF to image (first page)
pdf_path = r'C:\Users\Nisha kadian\Documents\pyhton Netz\advanced python\SIW Issue 416 28_04_2000 1.pdf'  # Update with your PDF file path
images = convert_from_path(pdf_path)

# Save the first page as an image
image_path = "output_image.png"
images[0].save(image_path, "PNG")

# Step 2: Read the image using OpenCV
image = cv2.imread(image_path)

# Check if the image is loaded correctly
if image is None:
    print(f"Error: Unable to load image at {image_path}")
else:
    print("Image loaded successfully")

    # Step 3: Preprocess image to improve OCR accuracy (grayscale, thresholding)
    gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)
    _, thresh = cv2.threshold(gray, 150, 255, cv2.THRESH_BINARY)

    # Step 4: Use pytesseract to extract text and try to identify tables
    custom_config = r'--oem 3 --psm 6'
    text = pytesseract.image_to_string(thresh, config=custom_config)

    print("Extracted Text:", text)  # Optional: To check the text detected

    # Step 5: Extract tabular data using pandas (if tables are detected)
    # We are assuming that tables are being detected as text in CSV format or similar structure

    # Try to read the detected text into a dataframe
    from io import StringIO
    try:
        data = StringIO(text)
        df = pd.read_csv(data)  # This will try to parse CSV data into a dataframe

        # Display the dataframe (tables)
        print("Extracted Table:")
        print(df)
    except Exception as e:
        print(f"Error extracting table: {e}")

PDFInfoNotInstalledError: Unable to get page count. Is poppler installed and in PATH?

In [7]:
pip install pdf2image

Collecting pdf2image
  Downloading pdf2image-1.17.0-py3-none-any.whl (11 kB)
Requirement already satisfied: pillow in c:\users\nisha kadian\appdata\local\programs\python\python310\lib\site-packages (from pdf2image) (11.1.0)
Installing collected packages: pdf2image
Successfully installed pdf2image-1.17.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 24.3.1 is available.
You should consider upgrading via the 'c:\Users\Nisha kadian\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [1]:
import os

# Print the current environment path
print("Environment PATH:", os.environ.get('PATH'))

# Check if Poppler binaries can be found
poppler_bin = r"C:\Users\Nisha kadian\Downloads\Release-24.08.0-0\poppler-24.08.0\Library\bin"
if poppler_bin in os.environ.get('PATH', ''):
    print("Poppler is correctly added to the PATH.")
else:
    print("Poppler is NOT correctly added to the PATH.")

Environment PATH: c:\Users\Nisha kadian\AppData\Local\Programs\Python\Python310;c:\Users\Nisha kadian\AppData\Roaming\Python\Python310\Scripts;C:\Program Files (x86)\VMware\VMware Workstation\bin\;C:\Program Files\Common Files\Oracle\Java\javapath;C:\Program Files (x86)\Common Files\Oracle\Java\java8path;C:\Program Files (x86)\Common Files\Oracle\Java\javapath;C:\Program Files\Java\jdk1.8.0_202\bin;C:\Program Files\PuTTY\;C:\Program Files\Git\cmd;C:\Program Files\Microsoft SQL Server\150\Tools\Binn\;C:\Program Files\Microsoft SQL Server\Client SDK\ODBC\170\Tools\Binn\;C:\Program Files\dotnet\;C:\Program Files\Amazon\AWSCLIV2\;C:\Program Files\Docker\Docker\resources\bin;C:\MinGW\bin;C:\Program Files\nodejs\;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0\;C:\WINDOWS\System32\OpenSSH\;C:\minikube;C:\Program Files\RabbitMQ Server\rabbitmq_server-4.0.2\sbin;C:\Users\Nisha kadian\Downloads\ffmpeg-7.1\ffmpeg-7.1\bin;C:\Users\Nisha kadian\Downloads\ffmpeg-7.1-essentials_build.zip\ffmpeg-7.1-essentials_build\bin;C:\Users\Nisha kadian\Downloads\ffmpeg-7.1-essentials_build\ffmpeg-7.1-essentials_build\bin;C:\Users\Nisha kadian\Downloads\Redis-x64-3.0.504 (1);C:\Users\Nisha kadian\Downloads\helm-v3.16.3-windows-amd64.zip\windows-amd64;C:\Users\Nisha kadian\Downloads\helm-canary-windows-amd64.zip\windows-amd64;C:\Program Files (x86)\helm-canary-windows-amd64\windows-amd64;C:\Program Files\helm-canary-windows-amd64;C:\Users\Nisha kadian\AppData\Local\Programs\Python\Python310\Scripts\;C:\Users\Nisha kadian\AppData\Local\Programs\Python\Python310\;C:\Users\Nisha kadian\AppData\Local\Programs\Python\Python39\Scripts\;C:\Users\Nisha kadian\AppData\Local\Programs\Python\Python39\;C:\Program Files\MySQL\MySQL Shell 8.0\bin\;C:\Users\Asha kadian\Videos\C++ CB\WindowsApps;C:\Program Files\Java\jdk1.8.0_202\bin;C:\Users\Nisha kadian\AppData\Local\JetBrains\Toolbox\scripts;C:\Program Files\JetBrains\IntelliJ IDEA 2023.2.4\bin;;C:\Users\Nisha kadian\AppData\Local\Programs\Microsoft VS Code\bin;C:\Users\Nisha kadian\.dotnet\tools;C:\Program Files\JetBrains\IntelliJ IDEA Educational Edition 2021.3.3\bin;;C:\Program Files\JetBrains\IntelliJ IDEA Community Edition 2023.2.4\bin;;C:\MinGW\bin;C:\Users\Nisha kadian\AppData\Roaming\npm;C:\Users\Nisha kadian\AppData\Local\Microsoft\WindowsApps;C:\Program Files\RabbitMQ Server\rabbitmq_server-4.0.2\sbin;C:\Users\Nisha kadian\Downloads\helm-canary-windows-amd64.zip\windows-amd64;C:\Program Files (x86)\helm-canary-windows-amd64\windows-amd64;C:\Program Files\helm-canary-windows-amd64;;C:\Users\Nisha kadian\AppData\Local\Programs\Ollama;C:\Program Files (x86)\VMware\VMware Workstation\bin\;C:\Program Files\Common Files\Oracle\Java\javapath;C:\Program Files (x86)\Common Files\Oracle\Java\java8path;C:\Program Files (x86)\Common Files\Oracle\Java\javapath;C:\Program Files\Java\jdk1.8.0_202\bin;C:\Program Files\PuTTY\;C:\Program Files\Git\cmd;C:\Program Files\Microsoft SQL Server\150\Tools\Binn\;C:\Program Files\Microsoft SQL Server\Client SDK\ODBC\170\Tools\Binn\;C:\Program Files\dotnet\;C:\Program Files\Amazon\AWSCLIV2\;C:\Program Files\Docker\Docker\resources\bin;C:\MinGW\bin;C:\Program Files\nodejs\;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0\;C:\WINDOWS\System32\OpenSSH\;C:\minikube;C:\Program Files\RabbitMQ Server\rabbitmq_server-4.0.2\sbin;C:\Users\Nisha kadian\Downloads\ffmpeg-7.1\ffmpeg-7.1\bin;C:\Users\Nisha kadian\Downloads\ffmpeg-7.1-essentials_build.zip\ffmpeg-7.1-essentials_build\bin;C:\Users\Nisha kadian\Downloads\ffmpeg-7.1-essentials_build\ffmpeg-7.1-essentials_build\bin;C:\Users\Nisha kadian\Downloads\Redis-x64-3.0.504 (1);C:\Users\Nisha kadian\Downloads\helm-v3.16.3-windows-amd64.zip\windows-amd64;C:\Users\Nisha kadian\Downloads\helm-canary-windows-amd64.zip\windows-amd64;C:\Program Files (x86)\helm-canary-windows-amd64\windows-amd64;C:\Program Files\helm-canary-windows-amd64;C:\Users\Nisha kadian\AppData\Local\Programs\Python\Python310\Scripts\;C:\Users\Nisha kadian\AppData\Local\Programs\Python\Python310\;C:\Users\Nisha kadian\AppData\Local\Programs\Python\Python39\Scripts\;C:\Users\Nisha kadian\AppData\Local\Programs\Python\Python39\;C:\Program Files\MySQL\MySQL Shell 8.0\bin\;C:\Users\Asha kadian\Videos\C++ CB\WindowsApps;C:\Program Files\Java\jdk1.8.0_202\bin;C:\Users\Nisha kadian\AppData\Local\JetBrains\Toolbox\scripts;C:\Program Files\JetBrains\IntelliJ IDEA 2023.2.4\bin;;C:\Users\Nisha kadian\AppData\Local\Programs\Microsoft VS Code\bin;C:\Users\Nisha kadian\.dotnet\tools;C:\Program Files\JetBrains\IntelliJ IDEA Educational Edition 2021.3.3\bin;;C:\Program Files\JetBrains\IntelliJ IDEA Community Edition 2023.2.4\bin;;C:\MinGW\bin;C:\Users\Nisha kadian\AppData\Roaming\npm;C:\Users\Nisha kadian\AppData\Local\Microsoft\WindowsApps;C:\Program Files\RabbitMQ Server\rabbitmq_server-4.0.2\sbin;C:\Users\Nisha kadian\Downloads\helm-canary-windows-amd64.zip\windows-amd64;C:\Program Files (x86)\helm-canary-windows-amd64\windows-amd64;C:\Program Files\helm-canary-windows-amd64;;C:\Users\Nisha kadian\AppData\Local\Programs\Ollama
Poppler is NOT correctly added to the PATH.

In [4]:
import os
from pdf2image import convert_from_path

# Test if Poppler is correctly set in the PATH
poppler_path = r"C:\Users\Nisha kadian\Downloads\Release-24.08.0-0\poppler-24.08.0\Library\bin"
images = convert_from_path(r'C:\Users\Nisha kadian\Documents\pyhton Netz\advanced python\SIW Issue 416 28_04_2000 1.pdf', poppler_path=poppler_path)

# Save the first page as an image
images[0].save("output_image.png", "PNG")

In [5]:
import pytesseract
from PIL import Image

# Path to tesseract executable (make sure this is correct based on your installation)
pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract.exe'

# Open the image file
img = Image.open("output_image.png")

# Extract text from the image using Tesseract OCR
text = pytesseract.image_to_string(img)

# Print the extracted text
print(text)

CLARKS ON

RESEARCH STUDIES

Shipping Intelligence
Weekly

Issue No. 416

28-Apr-2000

ISSN: 1358-8028

Highlights

VLCC

In the AG/Europe market rates for
270,000t cargoes moved up by W3
to W83. ULCC rates in the
AG/USG market rose to W75....p.2.
Suezmax

In the WAF/USAC market a steady
stream of enquiry helped push rates
up to W122.5. In the Med/Med
market rates rose to W138.......p.2.
Aframax

In the UKC/UKC market rates fell
by WI15 to W140. Rates in the
AG/East market fell by W10 to
a p2.
Products Market

Activity was subdued this week.
The market for MRs in the AG
softened slightly but the LR market
remains firm......................4. p.3.
Capesize Market

Rates have fallen in both the
Atlantic and Pacific markets yet are
expected to rise by mid-June.
R.Bay/Rott falls to $9.35/...... p..4.
Panamax Market

In the Atlantic rates are improving
bar US Gulf. In Pacific there is an
over supply of tonnage. US Gulf/
Japan at $22.50/t.. -. -p4/5.
Handymax Market

Atlantic remained level whilst the
Pacific softened slightly. Far East/

Cont falls slightly to
$9,750/day..........0..0ceeeeeee eee p.5.
S & P Market

The sale of two mid-seventies
tankers bucks the trend of this
tonnage being sold for demolition
(I11\7550000000000 bos0550000G0 00000000000 p.i.
Newbuilding

The market remains lacklustre due
to the lack of appetite being shown
by shipowners and _ shipbuilders
alike.......... cece cece eee plo.
Demolition

A weaker local steel plate market
and the approaching monsoon
season combine to test the morale
ofthe breaking community......p11.

The Atlantic Market This Week......

Handy:

SSS

Selection of ports covered by the various market sectors in this report

The Pacific Market This Week......

Panamax: Soft

Shipping Intelligence Network....
"represents a giant leap forward in the
information technology development in

shipping."

Join the SIN Club

www.clarksons.net

"With shipping’s first 'need to know'
information portal, Clarkson has made
shipping intelligence better than ever

before."

In [6]:
import pytesseract
from PIL import Image

# Path to tesseract executable (make sure this is correct based on your installation)
pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract.exe'

# Open the image file
img = Image.open("output_image.png")

# Extract text from the image using Tesseract OCR
text = pytesseract.image_to_string(img)

# Print the extracted text
print(text)

CLARKS ON

RESEARCH STUDIES

Shipping Intelligence
Weekly

Issue No. 416

28-Apr-2000

ISSN: 1358-8028

Highlights

VLCC

In the AG/Europe market rates for
270,000t cargoes moved up by W3
to W83. ULCC rates in the
AG/USG market rose to W75....p.2.
Suezmax

In the WAF/USAC market a steady
stream of enquiry helped push rates
up to W122.5. In the Med/Med
market rates rose to W138.......p.2.
Aframax

In the UKC/UKC market rates fell
by WI15 to W140. Rates in the
AG/East market fell by W10 to
a p2.
Products Market

Activity was subdued this week.
The market for MRs in the AG
softened slightly but the LR market
remains firm......................4. p.3.
Capesize Market

Rates have fallen in both the
Atlantic and Pacific markets yet are
expected to rise by mid-June.
R.Bay/Rott falls to $9.35/...... p..4.
Panamax Market

In the Atlantic rates are improving
bar US Gulf. In Pacific there is an
over supply of tonnage. US Gulf/
Japan at $22.50/t.. -. -p4/5.
Handymax Market

Atlantic remained level whilst the
Pacific softened slightly. Far East/

Cont falls slightly to
$9,750/day..........0..0ceeeeeee eee p.5.
S & P Market

The sale of two mid-seventies
tankers bucks the trend of this
tonnage being sold for demolition
(I11\7550000000000 bos0550000G0 00000000000 p.i.
Newbuilding

The market remains lacklustre due
to the lack of appetite being shown
by shipowners and _ shipbuilders
alike.......... cece cece eee plo.
Demolition

A weaker local steel plate market
and the approaching monsoon
season combine to test the morale
ofthe breaking community......p11.

The Atlantic Market This Week......

Handy:

SSS

Selection of ports covered by the various market sectors in this report

The Pacific Market This Week......

Panamax: Soft

Shipping Intelligence Network....
"represents a giant leap forward in the
information technology development in

shipping."

Join the SIN Club

www.clarksons.net

"With shipping’s first 'need to know'
information portal, Clarkson has made
shipping intelligence better than ever

before."

In [7]:
with open("extracted_text.txt", "w") as file:
    file.write(text)

In [8]:
import re

# Clean up extracted text
cleaned_text = text.strip()  # Remove leading/trailing whitespaces
cleaned_text = re.sub(r'\s+', ' ', cleaned_text)  # Replace multiple spaces with a single space
cleaned_text = re.sub(r'[^\w\s]', '', cleaned_text)  # Remove punctuation marks

# Optionally, save the cleaned text to a file
with open("cleaned_text.txt", "w") as file:
    file.write(cleaned_text)

print(cleaned_text)

CLARKS ON RESEARCH STUDIES Shipping Intelligence Weekly Issue No 416 28Apr2000 ISSN 13588028 Highlights VLCC In the AGEurope market rates for 270000t cargoes moved up by W3 to W83 ULCC rates in the AGUSG market rose to W75p2 Suezmax In the WAFUSAC market a steady stream of enquiry helped push rates up to W1225 In the MedMed market rates rose to W138p2 Aframax In the UKCUKC market rates fell by WI15 to W140 Rates in the AGEast market fell by W10 to a p2 Products Market Activity was subdued this week The market for MRs in the AG softened slightly but the LR market remains firm4 p3 Capesize Market Rates have fallen in both the Atlantic and Pacific markets yet are expected to rise by midJune RBayRott falls to 935 p4 Panamax Market In the Atlantic rates are improving bar US Gulf In Pacific there is an over supply of tonnage US Gulf Japan at 2250t  p45 Handymax Market Atlantic remained level whilst the Pacific softened slightly Far East Cont falls slightly to 9750day00ceeeeeee eee p5 S  P Market The sale of two midseventies tankers bucks the trend of this tonnage being sold for demolition I117550000000000 bos0550000G0 00000000000 pi Newbuilding The market remains lacklustre due to the lack of appetite being shown by shipowners and _ shipbuilders alike cece cece eee plo Demolition A weaker local steel plate market and the approaching monsoon season combine to test the morale ofthe breaking communityp11 The Atlantic Market This Week Handy SSS Selection of ports covered by the various market sectors in this report The Pacific Market This Week Panamax Soft Shipping Intelligence Network represents a giant leap forward in the information technology development in shipping Join the SIN Club wwwclarksonsnet With shippings first need to know information portal Clarkson has made shipping intelligence better than ever before

In [14]:
# from nltk.sentiment.vader import SentimentIntensityAnalyzer
# # Initialize the VADER sentiment intensity analyzer
# sid = SentimentIntensityAnalyzer()

# # Get sentiment scores
# sentiment = sid.polarity_scores(cleaned_text)
# print(sentiment)

import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to C:\Users\Nisha
[nltk_data]     kadian\AppData\Roaming\nltk_data...

True

In [15]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Initialize the VADER sentiment intensity analyzer
sid = SentimentIntensityAnalyzer()

# Get sentiment scores
sentiment = sid.polarity_scores(cleaned_text)
print(sentiment)

{'neg': 0.054, 'neu': 0.882, 'pos': 0.064, 'compound': 0.4679}

In [18]:
import pandas as pd

# Example: if you have structured data in 'data'
data = {"Column1": ["value1", "value2"], "Column2": ["value3", "value4"]}
df = pd.DataFrame(data)
df.to_csv("extracted_data.csv", index=False)

In [3]:
# import os
# from pdf2image import convert_from_path
# import pytesseract
# from nltk.sentiment.vader import SentimentIntensityAnalyzer
# import nltk

# # Make sure VADER lexicon is downloaded
# nltk.download('vader_lexicon')

# # Path to Poppler and PDF file
# poppler_path = r"C:\Users\Nisha kadian\Downloads\Release-24.08.0-0\poppler-24.08.0\Library\bin"
# pdf_path = r'C:\Users\Nisha kadian\Documents\pyhton Netz\advanced python\SIW Issue 416 28_04_2000 1.pdf'

# # Convert PDF to images (all pages)
# images = convert_from_path(pdf_path, poppler_path=poppler_path)

# # Save images and perform OCR for each page
# text = ""
# for i, image in enumerate(images):
#     image_path = f"output_page_{i+1}.png"
#     image.save(image_path, "PNG")
    
#     # Perform OCR (text extraction) on the image
#     page_text = pytesseract.image_to_string(image)
#     text += page_text + "\n"  # Combine the text from all pages

# # Clean the text (basic cleaning example)
# cleaned_text = text.replace('\n', ' ').strip()

# # Initialize the VADER sentiment intensity analyzer
# sid = SentimentIntensityAnalyzer()

# # Get sentiment scores
# sentiment = sid.polarity_scores(cleaned_text)

# # Print the sentiment analysis result
# print(f"Sentiment Scores: {sentiment}")
import os
from pdf2image import convert_from_path
import pytesseract
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk
import camelot

# Make sure VADER lexicon is downloaded
nltk.download('vader_lexicon')

# Path to Poppler and PDF file
poppler_path = r"C:\Users\Nisha kadian\Downloads\Release-24.08.0-0\poppler-24.08.0\Library\bin"
pdf_path = r'C:\Users\Nisha kadian\Documents\pyhton Netz\advanced python\SIW Issue 416 28_04_2000 1.pdf'

# Step 1: Convert PDF to images (all pages)
images = convert_from_path(pdf_path, poppler_path=poppler_path)

# Step 2: Extract tables using Camelot
tables = camelot.read_pdf(pdf_path, pages='all', flavor='stream')  # 'stream' is used for detecting tables based on the layout

# Step 3: Save the extracted tables as CSVs (you can choose a different format)
for i, table in enumerate(tables):
    table.to_csv(f'table_{i+1}.csv')  # Save each table as a CSV file

# Step 4: Save images and perform OCR for each page
text = ""
for i, image in enumerate(images):
    image_path = f"output_page_{i+1}.png"
    image.save(image_path, "PNG")
    
    # Perform OCR (text extraction) on the image
    page_text = pytesseract.image_to_string(image)
    text += page_text + "\n"  # Combine the text from all pages

# Step 5: Clean the text (basic cleaning example)
cleaned_text = text.replace('\n', ' ').strip()

# Step 6: Initialize the VADER sentiment intensity analyzer
sid = SentimentIntensityAnalyzer()

# Step 7: Get sentiment scores
sentiment = sid.polarity_scores(cleaned_text)

# Step 8: Print the sentiment analysis result
print(f"Sentiment Scores: {sentiment}")

c:\Users\Nisha kadian\AppData\Local\Programs\Python\Python310\lib\site-packages\pypdf\_crypt_providers\_cryptography.py:32: CryptographyDeprecationWarning: ARC4 has been moved to cryptography.hazmat.decrepit.ciphers.algorithms.ARC4 and will be removed from cryptography.hazmat.primitives.ciphers.algorithms in 48.0.0.
  from cryptography.hazmat.primitives.ciphers.algorithms import AES, ARC4
[nltk_data] Downloading package vader_lexicon to C:\Users\Nisha
[nltk_data]     kadian\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

TesseractNotFoundError: tesseract is not installed or it's not in your PATH. See README file for more information.

In [ ]:
import os
from pdf2image import convert_from_path
from transformers import LayoutLMv3Processor, LayoutLMv3ForTokenClassification
import torch
from PIL import Image
import pytesseract

# Define paths
pdf_path = r'C:\Users\Nisha kadian\Documents\pyhton Netz\advanced python\SIW Issue 416 28_04_2000 1.pdf'
output_image_folder = r"C:\Users\Nisha kadian\Documents\pyhton Netz\advanced python\TASK2_DATA_EXTRACTION\images"
tables_output_folder = r"C:\Users\Nisha kadian\Documents\pyhton Netz\advanced python\TASK2_DATA_EXTRACTION\tables"

# Create output directories if they don't exist
os.makedirs(output_image_folder, exist_ok=True)
os.makedirs(tables_output_folder, exist_ok=True)

# Convert PDF to images
poppler_path = r"C:\Users\Nisha kadian\Downloads\Release-24.08.0-0\poppler-24.08.0\Library\bin"
images = convert_from_path(pdf_path, poppler_path=poppler_path)

# Initialize the LayoutLMv3 model and processor
processor = LayoutLMv3Processor.from_pretrained("microsoft/layoutlmv3-large")
model = LayoutLMv3ForTokenClassification.from_pretrained("microsoft/layoutlmv3-large")

# Step 1: Process each page as an image
for i, image in enumerate(images):
    # Save the image
    image_path = os.path.join(output_image_folder, f"page_{i+1}.png")
    image.save(image_path, "PNG")
    
    # Step 2: OCR the image (to extract text from the page)
    page_text = pytesseract.image_to_string(image)
    
    # Step 3: Convert the image to a format compatible with LayoutLMv3
    encoding = tokenizer(text, 
                     return_tensors="pt", 
                     padding=True, 
                     truncation=True, 
                     max_length=512)  # Adjust max_length if needed

    
    # Step 4: Run LayoutLMv3 to detect tables or structures in the document
    with torch.no_grad():
        outputs = model(**encoding)
        logits = outputs.logits
    
    # Post-process the outputs to extract the table-like structures or specific tokens
    # The actual table extraction process would depend on your specific use case and the model's output
    # Here we assume a simplified output post-processing (you can adapt this to your use case)
    
    # Example (basic): You might want to check for tabular data or key-value pairs from the model's output
    extracted_tables = []  # Store extracted tables
    
    # Implement your own logic to parse the logits and extract tables here
    
    # Save the tables as CSV files (or any other format you need)
    for j, table in enumerate(extracted_tables):
        table.to_csv(os.path.join(tables_output_folder, f'table_{i+1}_{j+1}.csv'))
    
# Done!
print("Table extraction complete!")
print(encoding['input_ids'])
# import torch
# from transformers import LayoutLMv3ForTokenClassification, LayoutLMv3Tokenizer
# import pdfplumber
# from PIL import Image
# import pytesseract

# # Step 1: Load the LayoutLMv3 model and tokenizer
# model_name = "microsoft/layoutlmv3-large"
# tokenizer = LayoutLMv3Tokenizer.from_pretrained(model_name)
# model = LayoutLMv3ForTokenClassification.from_pretrained(model_name)

# # Step 2: Load the PDF file using pdfplumber
# pdf_path = r"C:\Users\Nisha kadian\Documents\pyhton Netz\advanced python\SIW Issue 416 28_04_2000 1.pdf"  # Replace with the correct path to your PDF
# with pdfplumber.open(pdf_path) as pdf:
#     # Extract tables from each page
#     all_tables = []
#     for page in pdf.pages:
#         tables = page.extract_tables()
#         all_tables.extend(tables)

# # Optionally, print the extracted tables
# print("Extracted Tables:")
# for table in all_tables:
#     for row in table:
#         print(row)

# # Step 3: Extract and pre-tokenize the text from the PDF
# text = ""
# for page in pdf.pages:
#     text += page.extract_text()

# # Pre-tokenize the text into a list of words
# tokens = text.split()  # Tokenize by splitting on whitespace

# # Step 4: Prepare dummy bounding boxes for tokens
# # Replace this with actual bounding boxes if available
# dummy_boxes = [[0, 0, 0, 0] for _ in tokens]  # Create a [0, 0, 0, 0] bbox for each token

# # Step 5: Process tokens and bounding boxes with the tokenizer
# encoding = tokenizer(tokens,
#                      boxes=dummy_boxes,
#                      return_tensors="pt",
#                      padding="max_length",
#                      truncation=True,
#                      max_length=512)

# # Step 6: Run LayoutLMv3 to detect tables or structures in the document
# with torch.no_grad():
#     outputs = model(input_ids=encoding['input_ids'],
#                     bbox=encoding['bbox'],
#                     attention_mask=encoding['attention_mask'])

# # Step 7: Extract logits for token classification
# logits = outputs.logits

# # Post-process logits (optional, based on your specific use case)
# print("Logits Output:", logits)

In [ ]:
import torch
from transformers import LayoutLMv3ForTokenClassification, LayoutLMv3Tokenizer
import pdfplumber
import csv
from pathlib import Path

# Step 1: Load the LayoutLMv3 model and tokenizer
model_name = "microsoft/layoutlmv3-large"
tokenizer = LayoutLMv3Tokenizer.from_pretrained(model_name)
model = LayoutLMv3ForTokenClassification.from_pretrained(model_name)

# Step 2: Load the PDF file using pdfplumber
pdf_path = r"C:\Users\Nisha kadian\Documents\pyhton Netz\advanced python\SIW Issue 416 28_04_2000 1.pdf"  # Replace with the correct path to your PDF
output_folder = "output_tables"  # Folder to save the CSV files
Path(output_folder).mkdir(exist_ok=True)  # Create the folder if it doesn't exist

with pdfplumber.open(pdf_path) as pdf:
    # Extract tables from each page
    all_tables = []
    table_counter = 1  # Counter for naming CSV files

    for page_number, page in enumerate(pdf.pages, start=1):
        tables = page.extract_tables()
        
        # Save each table to a CSV file
        for table in tables:
            csv_file_path = f"{output_folder}/table_page_{page_number}_table_{table_counter}.csv"
            with open(csv_file_path, mode="w", newline="", encoding="utf-8") as csv_file:
                csv_writer = csv.writer(csv_file)
                for row in table:
                    csv_writer.writerow(row)
            print(f"Table saved to {csv_file_path}")
            table_counter += 1

# Step 3: Extract and pre-tokenize the text from the PDF
text = ""
for page in pdf.pages:
    text += page.extract_text()

# Pre-tokenize the text into a list of words
tokens = text.split()  # Tokenize by splitting on whitespace

# Step 4: Prepare dummy bounding boxes for tokens
# Replace this with actual bounding boxes if available
dummy_boxes = [[0, 0, 0, 0] for _ in tokens]  

# Step 5: Process tokens and bounding boxes with the tokenizer
encoding = tokenizer(tokens,
                     boxes=dummy_boxes,
                     return_tensors="pt",
                     padding="max_length",
                     truncation=True,
                     max_length=512)

# Step 6: Run LayoutLMv3 to detect tables or structures in the document
with torch.no_grad():
    outputs = model(input_ids=encoding['input_ids'],
                    bbox=encoding['bbox'],
                    attention_mask=encoding['attention_mask'])

c:\Users\Nisha kadian\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
c:\Users\Nisha kadian\AppData\Local\Programs\Python\Python310\lib\site-packages\torch\_utils.py:776: UserWarning: TypedStorage is deprecated. It will be removed in the future and UntypedStorage will be the only storage class. This should only matter to you if you are using storages directly.  To access UntypedStorage directly, use tensor.untyped_storage() instead of tensor.storage()
  return self.fget.__get__(instance, owner)()
Some weights of LayoutLMv3ForTokenClassification were not initialized from the model checkpoint at microsoft/layoutlmv3-large and are newly initialized: ['classifier.bias', 'classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Table saved to output_tables/table_page_1_table_1.csv
Table saved to output_tables/table_page_1_table_2.csv
Table saved to output_tables/table_page_2_table_3.csv
Table saved to output_tables/table_page_2_table_4.csv
Table saved to output_tables/table_page_2_table_5.csv
Table saved to output_tables/table_page_2_table_6.csv
Table saved to output_tables/table_page_2_table_7.csv
Table saved to output_tables/table_page_2_table_8.csv
Table saved to output_tables/table_page_2_table_9.csv
Table saved to output_tables/table_page_2_table_10.csv
Table saved to output_tables/table_page_2_table_11.csv
Table saved to output_tables/table_page_2_table_12.csv
Table saved to output_tables/table_page_2_table_13.csv
Table saved to output_tables/table_page_2_table_14.csv
Table saved to output_tables/table_page_2_table_15.csv
Table saved to output_tables/table_page_3_table_16.csv
Table saved to output_tables/table_page_3_table_17.csv
Table saved to output_tables/table_page_3_table_18.csv
Table saved to output_tables/table_page_3_table_19.csv
Table saved to output_tables/table_page_3_table_20.csv
Table saved to output_tables/table_page_3_table_21.csv
Table saved to output_tables/table_page_3_table_22.csv
Table saved to output_tables/table_page_3_table_23.csv
Table saved to output_tables/table_page_3_table_24.csv
Table saved to output_tables/table_page_3_table_25.csv
Table saved to output_tables/table_page_3_table_26.csv
Table saved to output_tables/table_page_3_table_27.csv
Table saved to output_tables/table_page_4_table_28.csv
Table saved to output_tables/table_page_4_table_29.csv
Table saved to output_tables/table_page_4_table_30.csv
Table saved to output_tables/table_page_4_table_31.csv
Table saved to output_tables/table_page_4_table_32.csv
Table saved to output_tables/table_page_4_table_33.csv
Table saved to output_tables/table_page_4_table_34.csv
Table saved to output_tables/table_page_4_table_35.csv
Table saved to output_tables/table_page_4_table_36.csv
Table saved to output_tables/table_page_4_table_37.csv
Table saved to output_tables/table_page_5_table_38.csv
Table saved to output_tables/table_page_5_table_39.csv
Table saved to output_tables/table_page_5_table_40.csv
Table saved to output_tables/table_page_5_table_41.csv
Table saved to output_tables/table_page_5_table_42.csv
Table saved to output_tables/table_page_5_table_43.csv
Table saved to output_tables/table_page_5_table_44.csv
Table saved to output_tables/table_page_5_table_45.csv
Table saved to output_tables/table_page_5_table_46.csv
Table saved to output_tables/table_page_5_table_47.csv
Table saved to output_tables/table_page_6_table_48.csv
Table saved to output_tables/table_page_6_table_49.csv
Table saved to output_tables/table_page_6_table_50.csv
Table saved to output_tables/table_page_6_table_51.csv
Table saved to output_tables/table_page_6_table_52.csv
Table saved to output_tables/table_page_6_table_53.csv
Table saved to output_tables/table_page_6_table_54.csv
Table saved to output_tables/table_page_6_table_55.csv
Table saved to output_tables/table_page_6_table_56.csv
Table saved to output_tables/table_page_6_table_57.csv
Table saved to output_tables/table_page_6_table_58.csv
Table saved to output_tables/table_page_6_table_59.csv
Table saved to output_tables/table_page_6_table_60.csv
Table saved to output_tables/table_page_6_table_61.csv
Table saved to output_tables/table_page_7_table_62.csv
Table saved to output_tables/table_page_7_table_63.csv
Table saved to output_tables/table_page_7_table_64.csv
Table saved to output_tables/table_page_7_table_65.csv
Table saved to output_tables/table_page_7_table_66.csv
Table saved to output_tables/table_page_7_table_67.csv
Table saved to output_tables/table_page_7_table_68.csv
Table saved to output_tables/table_page_7_table_69.csv
Table saved to output_tables/table_page_7_table_70.csv
Table saved to output_tables/table_page_7_table_71.csv
Table saved to output_tables/table_page_7_table_72.csv
Table saved to output_tables/table_page_7_table_73.csv
Table saved to output_tables/table_page_7_table_74.csv
Table saved to output_tables/table_page_7_table_75.csv
Table saved to output_tables/table_page_7_table_76.csv
Table saved to output_tables/table_page_7_table_77.csv
Table saved to output_tables/table_page_7_table_78.csv
Table saved to output_tables/table_page_7_table_79.csv
Table saved to output_tables/table_page_8_table_80.csv
Table saved to output_tables/table_page_8_table_81.csv
Table saved to output_tables/table_page_8_table_82.csv
Table saved to output_tables/table_page_8_table_83.csv
Table saved to output_tables/table_page_8_table_84.csv
Table saved to output_tables/table_page_8_table_85.csv
Table saved to output_tables/table_page_8_table_86.csv
Table saved to output_tables/table_page_8_table_87.csv
Table saved to output_tables/table_page_8_table_88.csv
Table saved to output_tables/table_page_8_table_89.csv
Table saved to output_tables/table_page_8_table_90.csv
Table saved to output_tables/table_page_8_table_91.csv
Table saved to output_tables/table_page_8_table_92.csv
Table saved to output_tables/table_page_8_table_93.csv
Table saved to output_tables/table_page_8_table_94.csv
Table saved to output_tables/table_page_8_table_95.csv
Table saved to output_tables/table_page_8_table_96.csv
Table saved to output_tables/table_page_8_table_97.csv
Table saved to output_tables/table_page_8_table_98.csv
Table saved to output_tables/table_page_8_table_99.csv
Table saved to output_tables/table_page_8_table_100.csv
Table saved to output_tables/table_page_8_table_101.csv
Table saved to output_tables/table_page_8_table_102.csv
Table saved to output_tables/table_page_8_table_103.csv
Table saved to output_tables/table_page_8_table_104.csv
Table saved to output_tables/table_page_9_table_105.csv
Table saved to output_tables/table_page_10_table_106.csv
Table saved to output_tables/table_page_10_table_107.csv
Table saved to output_tables/table_page_11_table_108.csv
Table saved to output_tables/table_page_11_table_109.csv
Table saved to output_tables/table_page_11_table_110.csv
Table saved to output_tables/table_page_12_table_111.csv
Table saved to output_tables/table_page_13_table_112.csv
Table saved to output_tables/table_page_13_table_113.csv
Table saved to output_tables/table_page_13_table_114.csv
Table saved to output_tables/table_page_13_table_115.csv
Table saved to output_tables/table_page_13_table_116.csv
Table saved to output_tables/table_page_13_table_117.csv
Table saved to output_tables/table_page_13_table_118.csv
Table saved to output_tables/table_page_13_table_119.csv
Table saved to output_tables/table_page_13_table_120.csv
Table saved to output_tables/table_page_13_table_121.csv
Table saved to output_tables/table_page_13_table_122.csv
Table saved to output_tables/table_page_13_table_123.csv
Table saved to output_tables/table_page_13_table_124.csv
Table saved to output_tables/table_page_13_table_125.csv
Table saved to output_tables/table_page_14_table_126.csv
Table saved to output_tables/table_page_14_table_127.csv
Table saved to output_tables/table_page_14_table_128.csv
Table saved to output_tables/table_page_14_table_129.csv
Table saved to output_tables/table_page_14_table_130.csv
Table saved to output_tables/table_page_14_table_131.csv
Table saved to output_tables/table_page_14_table_132.csv
Table saved to output_tables/table_page_14_table_133.csv
Table saved to output_tables/table_page_14_table_134.csv
Table saved to output_tables/table_page_14_table_135.csv
Table saved to output_tables/table_page_15_table_136.csv
Table saved to output_tables/table_page_15_table_137.csv
Table saved to output_tables/table_page_15_table_138.csv
Table saved to output_tables/table_page_15_table_139.csv
Table saved to output_tables/table_page_15_table_140.csv
Table saved to output_tables/table_page_15_table_141.csv
Table saved to output_tables/table_page_15_table_142.csv
Table saved to output_tables/table_page_15_table_143.csv
Table saved to output_tables/table_page_15_table_144.csv
Table saved to output_tables/table_page_15_table_145.csv
Table saved to output_tables/table_page_15_table_146.csv
Table saved to output_tables/table_page_15_table_147.csv
Table saved to output_tables/table_page_15_table_148.csv
Table saved to output_tables/table_page_15_table_149.csv
Table saved to output_tables/table_page_16_table_150.csv
Table saved to output_tables/table_page_16_table_151.csv
Table saved to output_tables/table_page_16_table_152.csv
Table saved to output_tables/table_page_16_table_153.csv
Table saved to output_tables/table_page_16_table_154.csv
Table saved to output_tables/table_page_16_table_155.csv
Table saved to output_tables/table_page_16_table_156.csv
Table saved to output_tables/table_page_17_table_157.csv
Table saved to output_tables/table_page_17_table_158.csv
Table saved to output_tables/table_page_17_table_159.csv
Table saved to output_tables/table_page_17_table_160.csv
Table saved to output_tables/table_page_17_table_161.csv
Table saved to output_tables/table_page_17_table_162.csv
Table saved to output_tables/table_page_17_table_163.csv
Table saved to output_tables/table_page_17_table_164.csv
Table saved to output_tables/table_page_17_table_165.csv
Table saved to output_tables/table_page_17_table_166.csv
Table saved to output_tables/table_page_17_table_167.csv
Table saved to output_tables/table_page_17_table_168.csv
Table saved to output_tables/table_page_17_table_169.csv
Table saved to output_tables/table_page_17_table_170.csv
Table saved to output_tables/table_page_17_table_171.csv
Table saved to output_tables/table_page_17_table_172.csv
Table saved to output_tables/table_page_17_table_173.csv
Table saved to output_tables/table_page_17_table_174.csv
Table saved to output_tables/table_page_17_table_175.csv
Table saved to output_tables/table_page_17_table_176.csv
Table saved to output_tables/table_page_17_table_177.csv
Table saved to output_tables/table_page_17_table_178.csv
Table saved to output_tables/table_page_17_table_179.csv
Table saved to output_tables/table_page_17_table_180.csv
Table saved to output_tables/table_page_17_table_181.csv
Table saved to output_tables/table_page_17_table_182.csv
Table saved to output_tables/table_page_17_table_183.csv
Table saved to output_tables/table_page_17_table_184.csv
Table saved to output_tables/table_page_17_table_185.csv
Table saved to output_tables/table_page_18_table_186.csv
Table saved to output_tables/table_page_18_table_187.csv
Table saved to output_tables/table_page_18_table_188.csv
Table saved to output_tables/table_page_18_table_189.csv
Table saved to output_tables/table_page_18_table_190.csv
Table saved to output_tables/table_page_18_table_191.csv
Table saved to output_tables/table_page_18_table_192.csv
Table saved to output_tables/table_page_19_table_193.csv
Table saved to output_tables/table_page_19_table_194.csv
Table saved to output_tables/table_page_19_table_195.csv
Table saved to output_tables/table_page_19_table_196.csv
Table saved to output_tables/table_page_19_table_197.csv
Table saved to output_tables/table_page_19_table_198.csv
Table saved to output_tables/table_page_19_table_199.csv
Table saved to output_tables/table_page_19_table_200.csv
Table saved to output_tables/table_page_19_table_201.csv

c:\Users\Nisha kadian\AppData\Local\Programs\Python\Python310\lib\site-packages\transformers\modeling_utils.py:1044: FutureWarning: The `device` argument is deprecated and will be removed in v5 of Transformers.
  warnings.warn(

Logits Output: tensor([[[ 0.2099, -0.1303],
         [ 0.2099, -0.1303],
         [ 0.2099, -0.1303],
         ...,
         [ 0.2099, -0.1303],
         [ 0.2099, -0.1303],
         [ 0.2099, -0.1303]]])

In [ ]:
import os
from transformers import LlamaForCausalLM, LlamaTokenizer
from pdfplumber import open as pdf_open
import torch

# Set your Hugging Face token (access token for the model)
token = ""

# LLaMA model and tokenizer
model_name = "meta-llama/Llama-2-7b-chat-hf"  # Replace with the specific LLaMA model you want to use
tokenizer = LlamaTokenizer.from_pretrained(model_name, use_auth_token=token)
model = LlamaForCausalLM.from_pretrained(model_name, use_auth_token=token)

def extract_text_from_pdf(pdf_path):
    """
    Extract text from the given PDF using pdfplumber.
    
    Args:
        pdf_path (str): Path to the PDF file.

    Returns:
        str: Extracted text from the PDF.
    """
    with pdf_open(pdf_path) as pdf:
        text = ""
        for page in pdf.pages:
            text += page.extract_text()  # Extract text from each page
    return text

def process_pdf_with_llama(pdf_path):
    """
    Process PDF content using the LLaMA model to identify and process tables.

    Args:
        pdf_path (str): Path to the PDF file.
        
    Returns:
        str: The model's output based on the extracted text.
    """
    # Step 1: Extract text from the PDF
    pdf_text = extract_text_from_pdf(pdf_path)
    
    # Step 2: Tokenize the extracted text
    inputs = tokenizer(pdf_text, return_tensors="pt", truncation=True, padding=True)
    
    # Step 3: Generate a response based on the extracted text (processing tables if applicable)
    with torch.no_grad():
        outputs = model.generate(
            **inputs,
            max_length=1024,  # Limit the output length (adjust as needed)
            num_return_sequences=1
        )
    
    # Step 4: Decode the model's output into readable text
    generated_text = tokenizer.decode(outputs[0], skip_special_tokens=True)
    
    return generated_text

# Example usage
if __name__ == "__main__":
    pdf_path = r"C:\Users\Nisha kadian\Documents\pyhton Netz\advanced python\SIW Issue 416 28_04_2000 1.pdf"  # Replace with the path to your PDF file
    result = process_pdf_with_llama(pdf_path)
    
    print("Processed Text Output:")
    print(result)

c:\Users\Nisha kadian\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
c:\Users\Nisha kadian\AppData\Local\Programs\Python\Python310\lib\site-packages\transformers\tokenization_utils_base.py:1899: FutureWarning: The `use_auth_token` argument is deprecated and will be removed in v5 of Transformers. Please use `token` instead.
  warnings.warn(

OSError: Can't load tokenizer for 'meta-llama/Llama-2-7b-chat-hf'. If you were trying to load it from 'https://huggingface.co/models', make sure you don't have a local directory with the same name. Otherwise, make sure 'meta-llama/Llama-2-7b-chat-hf' is the correct path to a directory containing all relevant files for a LlamaTokenizer tokenizer.

In [29]:
pip install sentencepiece

Collecting sentencepiece
  Using cached sentencepiece-0.2.0-cp310-cp310-win_amd64.whl (991 kB)
Installing collected packages: sentencepiece
Successfully installed sentencepiece-0.2.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 24.3.1 is available.
You should consider upgrading via the 'c:\Users\Nisha kadian\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.